.course_information-container {
    flex-direction: row;
    display: flex;
}

.course_info-container {

    #course_id {
        color: #5E9EC1;
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    #course_name {
        margin-top: 0;
        margin-left: 16px;
        font-weight: 400;

    }

    #course_dept-school-unit {
        color: gray;
    }

}


#course_addl-info {
    display: flex;
    flex-direction: row;
    
    .course_desc-field-container {
        margin-bottom: 16px;
        margin-right: 16px;
    }
    
    #course_desc-container {
        padding-right: 2rem;
        min-width: 80% !important;
    }

    #course_ge-info {
        width: 75%;
        color: gray;
        .course_ge-info-container{
            margin-bottom: 18px;
        }
    }
}

.list-item{

    margin-bottom: 6px;
}