.footer {
    background-color: #f9f9f9;
    height: auto;
    margin-top: 28px;
    padding: 16px 40px;
    position: relative;
    left: 0;
    width: 100vw;
    display: flex;

    a {
      margin-right: 16px;
      color: gray;
      font-weight: bold;
      font-size: 12px;
    }

    a:hover {
      color: var(--peterportal-primary-color-1);
    }
  
    .copyright {
      margin-left: auto;

      p {
        font-size: 12px;
        color: gray;
      }

      a {
        margin-right: 0;
      }
    }
  }