
#gradedist-module-container {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 36px auto;
}

#grade-dist-label {
  margin: "0";
}

#menu {
  display: flex;
  justify-content: flex-end;
}

#chart {
  height: 30em;
}

.grade_distribution_chart-container {
  display: inline-flex;
  height: 400px;
}

.chart {
  width: 65%;
}

.pie {
  width: 35%;
} 