
#course_main-header {
    padding: 24px 0;
    width: 100%;
    background-color: #f5f5f5;
    position: fixed;
    z-index: 200;
    .course_info-container {
        display: flex;
        width: 1200px;
        margin: auto;   
    }

}


.course_information-container {
    flex-direction: row;
    display: flex;
}

.course_info-container {

    #course_id {
        color: #5E9EC1;
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    #course_name {
        margin-top: 0;
        margin-left: 16px;
        font-weight: 400;

    }

    #course_dept-school-unit {
        color: gray;
    }

}
