#peterportal-logo {
    width: 100%;
  }
  
.school-term_container{
  padding-left: 24px;
  border-left: 1px solid black;
  margin: auto 12px;
  display: flex;
}

.ui.segment {
  // background: linear-gradient(90deg, $primary-color-1 0%, $primary-color-2 100%);
  padding: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}

.peterportal-logo-container {
  max-width: 100px;
  margin-right: 12px;
}

:root {
  --bg:  #fff;
  --bg-accent: #eee;
  --text-color: rgba(0,0,0,.87);
  --nav-size: 60px;
  --border: 1px solid #eee;
  --border-radius: 8px;
  --speed: 500ms; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  z-index: 300;
  width: 100%;
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.20);
  box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.20);
}

.navbar-nav {
  max-width: 1200px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.65);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
  transition: background-color 300ms;
}

.icon-button:hover{
  cursor: pointer;
  filter: brightness(0.9);
}

.google-login:hover > .icon-button{
  background-color: #de5246;
  i.icon{
    color: #fff !important; 
  }
}

.facebook-login:hover > .icon-button{
  background-color: #3b5998;
  i.icon{
    color: #fff !important; 
  }
}


.dark-mode:hover > .icon-button{
  background-color: #9146FF;
  i.icon{
    color: #fff !important; 
  }
}

.icon-button svg {
  fill: var(--text-color);
  width: 15px;
  height: 15px;
}

.dropdown-menu {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  color: var(--text-color);
  text-decoration: none;
  transition: background-color 300ms;
  .button-text {
    padding-left: 12px;
  }
}

.menu-item:hover {
  background-color: #f7f7f7;
  cursor: pointer;
  .icon-button{
    filter: brightness(0.9);
  }
}


.icon-right {
  margin-left: auto;
}

.menu {
  width: 100%;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit {
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

i.icon {
  margin: -2px 0 0 0 !important;
}