.report-group {
  background-color: var(--overlay2);
  border-radius: var(--border-radius);
  padding: 2rem;
  margin-bottom: 3vh;
}

.report-group-identifier {
  margin: 0;
  font-size: x-large;
}

.report-group-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.report-group-user-display {
  font-size: medium;
}

.report-group-content {
  margin: 1vh 0;
  p:nth-child(2) {
    font-style: italic;
    margin-left: 1vw;
  }
}

.report-group-subreports-container {
  background-color: var(--overlay3);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.report-group-footer {
  flex-direction: row;
  width: 100%;
  margin-top: 15px;
  align-items: flex-end;
}
