.report-group {
    background-color: var(--overlay2);
    border-radius: var(--border-radius);
    padding: 2rem;
    margin-bottom: 3vh;

    label {
        font-weight: bold;
    }
}

.report-group-identifier {
    margin: 0;
    // font-weight: bold;
    font-size: x-large;
    // a {
    //   color: black;
    // }
}

.report-group-user-display {
    font-size: medium;
}

.report-group-content {
    margin: 1vh 0;
    label {
        font-weight: bold;
    }
    p {
        font-style: italic;
        margin-left: 1vw;
    }
}

.report-group-subreports-container {
    background-color: var(--overlay3);
    border-radius: var(--border-radius);
    padding: 1rem;
}

.report-group-footer {
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    align-items: flex-end;
}

