.subreport {
  background-color: var(--overlay2);
  border-radius: var(--border-radius);

  padding: 10px 16px;
}

.subreport-content {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .label {
    font-weight: bold;
  }
}
