.professor-popup-missing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    text-align: center;
}

.professor-popup {
    background-color: #EEEEEE;
    padding: 1rem;
}

.professor-popup-id {
    margin-bottom: 0.2rem;
}

.professor-popup-title {
    margin: 0;
}

.professor-popup-info {
    display: flex;
}