.course-summary {
  container: course-summary / inline-size;

  .result-page-section {
    margin-inline: auto;
  }

  .summary-columns {
    display: flex;
    gap: 20px;
  }

  .summary-column:first-child {
    max-width: 400px;
  }

  @container course-summary (width < 800px) {
    .summary-columns {
      flex-direction: column;
    }

    .summary-column:first-child {
      max-width: none;
    }
  }

  h4 {
    font-size: 20px;
  }

  p.summary-prerequisite-type {
    margin-bottom: 0;
  }

  .summary-prerequisites {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .prerequisite-line {
    color: var(--mui-palette-text-secondary);
    margin-top: 4px;

    .icon {
      transform: scale(0.9);
      display: inline-block;
      transform-origin: 100% 0;
    }
    .icon-complete {
      color: var(--mui-palette-success-main);
    }
    .icon-incomplete {
      color: var(--mui-palette-error-main);
    }
  }

  .course-tags {
    display: flex;
    font-weight: 500;
    gap: 10px;
    margin-bottom: 16px;
    flex-wrap: wrap;
  }
}
