$avatarWidth: 65px;
.subreview {
  display: grid;
  grid-template-columns: $avatarWidth auto 80px;
  max-width: 800px;
  grid-gap: 15px;
  padding: 15px;
}
.content {
  display: flex;
  flex-direction: column;
}
// inline elements in column
.inline {
  display: flex;
  margin-top: auto;
  flex-direction: row;
  grid-gap: 5px;
  a {
    margin-left: auto;
  }
}
// helpful score buttons
.upvote,
.downvote {
  outline: none;
  border: none;
  padding: 0;
  height: fit-content;
  background-color: transparent;
}
.upvote {
  color: var(--peterportal-primary-color-1);
}
.downvote {
  color: var(--peterportal-secondary-red);
}
// name of the reviewer (aka Anonymous Petr)
.reviewer {
  margin: 0;
  color: var(--peterportal-primary-color-1);
}
.review-info {
  display: flex;
  justify-content: space-between;
}
// avatar profile picture
.avatar {
  width: $avatarWidth;
  align-self: flex-start;
}
// rating boxes (quality and difficulty)
.ratings {
  margin-left: auto;
  text-align: center;
  justify-self: flex-end;
}
.rating {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
}
// color scheme for numerical ratings
// reversed for difficulty so 1 => r5, etc.
.r1 {
  background-color: var(--peterportal-secondary-red);
}
.r2 {
  background-color: var(--peterportal-secondary-orange);
}
.r3 {
  background-color: var(--peterportal-secondary-yellow);
}
.r4 {
  background-color: var(--peterportal-secondary-green);
}
.r5 {
  background-color: var(--peterportal-primary-color-1);
}
