.reviews {
  display: flex;
  flex-direction: column;
}
.add-review-button {
  padding: 6px 16px;
  font-weight: bold;
  margin: 8px auto 0;
  background-color: var(--blue-primary);
  display: flex;
  align-items: center;
  gap: 4px;
}

// sort and filter reviews
.sort-filter-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}
.sort-dropdown,
.filter-dropdown {
  max-width: 15rem;
}
.verified-only-checkbox {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
}
.reviews .form-check-input {
  border: 1px solid rgba(34, 36, 38, 0.15);
  &:hover {
    border-color: rgba(34, 36, 38, 0.35);
  }
}
[data-theme='dark'] .reviews .form-check-input {
  border: 1px solid var(--overlay3);
}

// The list of ReviewCards that appears on course/professors pages
.reviewcards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
/*
ReviewCards on courses/professors pages need a background of overlay2,
while ReviewCards in verification need the usual (overlay1) background
 */
.reviewcards > div.MuiPaper-root {
  background-color: var(--overlay2);
  box-shadow: none;
}

// screen width is less than or equal to 599px
@media only screen and (max-width: 599px) {
  .sort-filter-menu {
    flex-direction: column;
    gap: 0.5rem;
  }
  .sort-dropdown,
  .filter-dropdown {
    max-width: none;
  }
}
