$avatarWidth: 65px;
.subreview {
  background-color: var(--peterportal-gray-blue);
  border-radius: var(--border-radius);
  padding: 2rem;
  margin-bottom: 3vh;
}
// name of the class/professor
.subreview-identifier {
  margin: 0;
  font-weight: bold;
  font-size: xx-large;
  a {
    color: black;
  }
}
// content of review
.subreview-content {
  display: flex;
}
// rating boxes (quality and difficulty)
.subreview-ratings {
  text-align: center;
  justify-self: flex-end;
  margin-right: 3vw;
}
.rating-label {
  line-height: 1rem;
  font-size: 1rem;
}
.rating {
  margin: 1vh 0;
  border-radius: var(--border-radius);
  width: 5vw;
  height: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 3rem;
  font-size: 3rem;
  color: white;
}
// color scheme for numerical ratings
// reversed for difficulty so 1 => r5, etc.
.r1 {
  background-color: var(--peterportal-secondary-red);
}
.r2 {
  background-color: var(--peterportal-secondary-orange);
}
.r3 {
  background-color: var(--peterportal-secondary-yellow);
}
.r4 {
  background-color: var(--peterportal-secondary-green);
}
.r5 {
  background-color: var(--peterportal-primary-color-1);
}
.subreview-info {
  width: 100%;
}
.subreview-details {
  margin: 1vh 0;
  display: flex;
  justify-content: space-between;
}
.subreview-detail {
  border-radius: var(--border-radius);
  background-color: #ffffff;
  width: 45%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    margin: 0;
  }
}
.subreview-author {
  display: flex;
  justify-content: space-between;
  color: var(--peterportal-mid-gray);

  p {
    margin-bottom: 1vh;
  }
}
// inline elements in column
.subreview-footer {
  display: flex;
  margin-top: 1vh;
  flex-direction: row;
  grid-gap: 5px;
  a {
    margin-left: auto;
  }
}
// helpful score buttons
.upvote,
.downvote {
  outline: none;
  border: none;
  padding: 0;
  height: fit-content;
  background-color: transparent;
}
.upvote {
  color: var(--peterportal-primary-color-1);
}
.downvote {
  color: var(--peterportal-secondary-red);
}
.add-review-btn {
  border: none;
  outline: none;
  background-color: var(--peterportal-primary-color-1);
  color: white;
  border-radius: 25px;
  padding: 10px 25px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  font-size: 1.25rem;
}
.reviews {
  display: flex;
  flex-direction: column;
}

.add-report-button {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0px;
  margin-left: auto;
  color: grey;
  transition: 0.2s;
  padding: 3px;
}

.add-report-button:hover {
  background-color: lightgray;
}


@media only screen and (max-width: 600px) {
  .subreview-content {
    flex-direction: column;
  }

  .subreview-ratings {
    display: flex;
    justify-content: space-between;
  }

  .rating {
    width: 45%;
    height: 20vw;
  }

  .subreview-details {
    flex-direction: column;
  }

  .subreview-detail {
    height: fit-content;
    width: 100%;
    margin-bottom: 1vh;
  }

  .subreview-author {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 600px) {
  .rating{
    width: 8vh;
    height: 8vh;
  }
}