.reviews {
  display: flex;
  flex-direction: column;
}
.add-review-button {
  padding: 10px 25px;
  font-weight: bold;
  margin: 1rem auto 0 auto;
  font-size: 1.25rem;
  background-color: var(--blue-primary);
  border-radius: var(--border-radius);
}

// sort and filter reviews
.sort-filter-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}
.sort-dropdown,
.filter-dropdown {
  max-width: 15rem;
}
.verified-only-checkbox {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
}
.reviews .form-check-input {
  border: 1px solid rgba(34, 36, 38, 0.15);
  &:hover {
    border-color: rgba(34, 36, 38, 0.35);
  }
}
[data-theme='dark'] .reviews .form-check-input {
  border: 1px solid var(--overlay3);
}

// subreviews
.subreviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.subreview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--overlay2);
  border-radius: var(--border-radius);
  padding: 2rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

// subreview header (class/professor name & edit buttons)
.subreview-identifier {
  font-weight: bold;
  font-size: xx-large;
  margin: 0;
  a {
    color: var(--text);
  }
  word-break: break-word;
}
.edit-buttons {
  display: flex;
  flex-direction: row;
  float: right;
  gap: 0.75rem;
}

// content of review
.subreview-content {
  display: flex;
  gap: 1rem;
}
// rating boxes (quality and difficulty)
.subreview-ratings {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1rem;
}
.rating {
  border-radius: var(--border-radius);
  width: 7rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
}
.rating-label {
  line-height: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.rating-value {
  line-height: 3rem;
  font-size: 3rem;
}
// color scheme for numerical ratings
// reversed for difficulty so 1 => r5, etc.
.r1 {
  background-color: var(--red-secondary);
}
.r2 {
  background-color: var(--orange-secondary);
}
.r3 {
  background-color: var(--yellow-secondary);
}
.r4 {
  background-color: var(--green-secondary);
}
.r5 {
  background-color: var(--blue-primary);
}

// subreview info
.subreview-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.subreview-details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.subreview-detail {
  border-radius: var(--border-radius);
  background-color: var(--overlay3);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  p {
    margin: 0;
  }
}
.subreview-author {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: var(--mid-gray);
}
.subreview-author-name {
  margin: 0;
}
.subreview-author-verified,
.subreview-author-author {
  margin: 0;
  display: flex;
  margin-left: 0.5rem;
}

// tags
.subreview-tags {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.subreview-tag {
  padding: 1rem;
  background-color: var(--blue-primary);
  color: white;
}
// footer
.subreview-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
// vote on a review
.subreview-voting {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.subreview-voting-question,
.subreview-voting-count {
  margin: 0;
}
.subreview-voting-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  background-color: transparent;
}
.upvote,
.downvote {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  height: fit-content;
  background-color: transparent;
  color: var(--mid-gray);
  transition: 0.25s;
}
.colored-upvote {
  color: var(--blue-primary);
}
.colored-downvote {
  color: var(--red-secondary);
}
// report a review
.add-report-button {
  background-color: transparent;
  border-color: transparent;
  color: var(--text);
}
.add-report-button:hover {
  background-color: var(--overlay3);
  border-color: var(--overlay3);
  border-radius: var(--border-radius);
  color: var(--text);
}

// screen width is less than or equal to 599px
@media only screen and (max-width: 599px) {
  .sort-filter-menu {
    flex-direction: column;
    gap: 0.5rem;
  }
  .sort-dropdown,
  .filter-dropdown {
    max-width: none;
  }
  .subreview-content {
    flex-direction: column;
  }
  .subreview-ratings {
    flex-direction: row;
  }
  .rating {
    width: 15rem;
  }
  .subreview-details {
    flex-direction: column;
  }
}
