.sidebar {
  position: fixed;
  width: 20vw;
  height: 100vh;
  top: 0;
  z-index: 400;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .sidebar-close {
    padding: 2vw;
    width: 100%;

    .sidebar-close-icon {
      width: 3vh;
      height: 3vh;
      float: right;
      cursor: pointer;
    }
  }

  .sidebar-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
      border-radius: 50%;
    }

    p {
      margin-top: 1vh;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
    }
  }

  .sidebar-links {
    width: 60%;
    margin-bottom: 20vh;

    ul li {
      a {
        color: black;
        display: flex;
        grid-gap: 10px;
        margin-right: 10px;
        padding: 10px;
      }
      a:hover {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 5px;
      }
    }
  }

  .sidebar-login {
    margin-bottom: 5vh;

    .sidebar-login-icon {
      margin-right: 1vw;
    }
  }
}

.sidebar.mini {
  position: static;
  width: 5vw;

  .sidebar-links {
    margin-top: 4vh;
    width: 100%;

    ul {
      li {
        margin-top: 2vh;

        a {
          display: flex;
          flex-direction: column;
          margin: 0;

          div {
            display: flex;
            justify-content: center;
          }

          span {
            text-align: center;
          }
        }
      }
    }
  }
}

.sidebar-active {
  color: var(--peterportal-primary-color-1) !important;
}

@media only screen and (max-width: 800px) {
  .sidebar {
    width: 100vw;
    z-index: 400;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar.mini {
    display: none;
  }
}

@media only screen and (max-width: 1500px) {
  .sidebar.mini {
    width: 7vw;
    .sidebar-links {
      ul {
        li {
          a {
            span {
              font-size: smaller;
            }
          }
        }
      }
    }
  }
}
