@use 'sass:color';
@use '../../globals';

.sidebar {
  position: fixed;
  width: globals.$sidebar-width-open;
  height: 100%;
  top: 0;
  z-index: 400;
  background-color: var(--overlay1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .button-container {
    width: 100%;
    height: 60px;
    margin: 6px 0 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 26px;
    img {
      --is-dark: 0;
      transform-origin: 0 50%;
      transform: scale(1.1);
      filter: brightness(0) invert(var(--is-dark));
      -webkit-filter: brightness(0) invert(var(--is-dark));
    }
  }

  .sidebar-close {
    margin-inline: 0 -8px;
  }

  .sidebar-links ul li {
    &:not(:first-child) {
      margin-top: 8px;
    }

    a,
    button {
      transition: background-color 0.2s;
    }
    a {
      color: var(--text);
      display: flex;
      gap: 16px;
      padding: 10px;
    }
    a:hover,
    button:hover {
      background: #9992;
      border-radius: 5px;
    }

    svg.bi {
      width: 26px;
      height: 26px;
    }
  }

  &:not(.mini) {
    box-shadow: 0px 4px 24px rgba(196, 198, 209, 0.24);

    .sidebar-links {
      padding: 4px 16px 16px;
      width: 100%;
    }
    li a {
      height: 56px;
      position: relative;
      top: 0px;
      display: flex;
      align-items: center;
      font-size: 18px;
      gap: 16px;
    }
  }

  left: 0 - globals.$sidebar-width-open;
  transition: left 0.5s;
  &.enter-active,
  &.enter-done {
    left: 0;
  }

  .full-name + span {
    display: none;
  }

  .sidebar-icon {
    font-size: 28px;
  }
}

[data-theme='dark'] {
  .sidebar:not(.mini) {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
  }
  .sidebar .button-container img {
    --is-dark: 1;
  }
}

.sidebar.mini {
  position: static;
  width: globals.$sidebar-width-closed;
  padding-block: 16px;
  flex-shrink: 0;
  z-index: 299;

  .sidebar-links {
    margin: 0;
    width: 100%;

    .full-name {
      display: none;
      + span {
        display: inline;
      }
    }
  }

  .sidebar-links ul li {
    .icon {
      font-size: 24px;
    }

    a,
    button {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 72px;
      margin: 0;
      gap: 0;
      padding: 4px 0;
      i.icon {
        margin: 0;
      }
      span {
        font-size: 12px;
      }
    }
  }

  @media only screen and (max-width: globals.$mobile-cutoff) {
    display: none;
  }
}

.sidebar-active {
  color: var(--blue-primary) !important;
}

.theme-toggle {
  border: none;
  background: none;
}

.theme-toggle:hover {
  cursor: pointer;
  text-decoration: underline;
}
