[data-theme='dark'] {
  .sidebar {
    .sidebar-links {
      ul li a:hover,
      ul li button:hover {
        background-color: var(--overlay2);
      }
    }
  }
}

.sidebar {
  position: fixed;
  width: 20vw;
  height: 100vh;
  top: 0;
  z-index: 400;
  background-color: var(--overlay1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sidebar-close {
    padding: 1em;
    margin-left: auto;
    border: none;
    background: none;
  }

  .sidebar-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 50%;
      border-radius: 50%;
    }

    p {
      margin-top: 1vh;
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
    }
  }

  .sidebar-links {
    min-width: 60%;
    margin-bottom: 2em;

    ul li {
      a, button { transition: background-color 0.2s; }
      a,
      .theme-button {
        color: var(--text);
        display: flex;
        grid-gap: 10px;
        padding: 10px;
      }
      a:hover,
      button:hover {
        background: #9992;
        border-radius: 5px;
      }
    }
  }

  .sidebar-login {
    margin-bottom: 20vh;

    .sidebar-login-icon {
      margin-right: 0.4vw;
    }
  }
}

.theme-button .dropdown {
  width: 100%;

  button {
    background-color: transparent;
    padding: 0;
    width: 100%;
    text-align: left;
    border: none;
  }

  .dropdown-item.active {
    background-color: transparent;
    color: var(--peterportal-primary-color-1);
  }
}

.theme-button .show.dropdown button {
  outline: none;
  background-color: transparent;
}

.sidebar.mini {
  position: static;
  width: 72px;
  padding-block: 16px;

  .sidebar-links {
    margin: 0;
    width: 100%;

    ul li {
      &:not(:first-child) {
        margin-top: 8px;
      }

      .icon { font-size: 24px; }

      a,
      button {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 72px;
        margin: 0;
        gap: 0;
        padding: 4px 0;
        
        i.icon {
          margin: 0;
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
}

.sidebar-active {
  color: var(--peterportal-primary-color-1) !important;
}

@media only screen and (max-width: 800px) {
  .sidebar {
    width: 100vw;
    z-index: 400;
  }

  .sidebar.mini {
    display: none;
  }
}


.theme-toggle {
  border: none;
  background: none;
}

.theme-toggle:hover {
  cursor: pointer;
  text-decoration: underline;
}
