.report-form {
    background-color: var(--peterportal-gray-blue);
    border-radius: var(--border-radius);
    padding: 2rem;
    display: flex;
    grid-gap: 35px;
    width: fit-content;
    max-width: 70vw;
    height: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto auto;
    padding: 50px;

    textarea {
        border-radius: var(--border-radius);
        border: 2px solid #EAEBF2;
        padding: 1rem;
        resize: none;
        width: 100%;
        display: block;
    }
}

.report-form-review-content {
  margin-bottom: 20px;
}

.report-form-header {
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}

// .report-form-section {
//   width: auto;
//   flex-direction: row;
//   justify-content: center;
//   justify-items: end;
// }

// .report-form-row {

// }

// .report-form-col {

// }

.submitted-report-form {
    text-align: center;
    width: 100%;
    margin-top: 15%;
    i {
      color: var(--peterportal-secondary-green);
    }
    h1 {
      margin: 15px 0;
    }
    p {
      font-size: 1.25rem;
    }
}