.report-form {
  background-color: var(--overlay2);
  border-radius: var(--border-radius);
  padding: 2rem;
  display: flex;
  grid-gap: 35px;
  width: fit-content;
  width: 40vw;
  height: fit-content;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto auto;
  padding: 50px;
  overflow-y: auto;
  overflow-x: hidden;

  textarea {
    color: var(--text);
    border-radius: var(--border-radius);
    border: 2px solid #eaebf2;
    padding: 1rem;
    resize: none;
    width: 100%;
    display: block;
  }

  textarea.form-control {
    background-color: var(--overlay3);
  }

  textarea.form-control:focus {
    color: var(--text);
    background-color: var(--overlay3);
  }
}

.report-form-review-content {
  background-color: var(--overlay3);
  border-radius: var(--border-radius);
  padding: 1rem;
  margin-bottom: 20px;
}

.report-form-review-content-label {
  font-weight: bold;
}

.report-form-review-content-text {
  font-style: italic;
}

.report-form-header {
  margin: 0px;
  margin-top: 0px;
}

@media only screen and (max-width: 400px) {
  .report-form {
    button {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  .report-form {
    max-height: 80vh;
    width: 90vw;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 600px) {
  .report-form {
    width: 75vw;
  }
}
