.report-form {
  .modal-dialog {
    max-width: 512px;
  }

  textarea {
    color: var(--text);
    border-radius: var(--border-radius);
    border: 2px solid #eaebf2;
    padding: 1rem;
    resize: none;
    width: 100%;
    display: block;
  }

  p {
    margin-bottom: 0;
  }

  .reported-review-content {
    background-color: var(--overlay3);
    border-radius: var(--border-radius);
    padding: 12px 16px;
    margin-bottom: 16px;
    font-size: 16px;
  }
}
