@use '../../globals.scss';

.filter-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 8px;

  .filter-form-control {
    margin-bottom: 0;
  }

  .dept-select {
    border-color: oklch(from var(--mui-palette-common-onBackground) l c h / 0.23);
  }

  .has-selection {
    .MuiSelect-select {
      background-color: var(--blue-primary);
      color: white;
    }
    .MuiSvgIcon-root {
      color: white;
    }
  }
}

.search-filters-menu {
  max-width: 400px;

  &.departments-menu {
    width: 400px;
    max-height: calc(100vh - 400px);

    > ul {
      padding-top: 0;
    }
  }

  .search-filter-item {
    gap: 4px;
  }

  .search-filter-item .item-text {
    white-space: normal;
  }

  .dept-input {
    position: sticky;
    top: 0;
    margin-bottom: 8px;
    background-color: inherit;
    z-index: 1;
  }
}
