@use '../../globals.scss';

.filter-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-top: 8px;
}

p.filter-placeholder {
  color: var(--text-secondary);
  margin: 0;
}

.MuiFormControl-root {
  height: fit-content;
  width: fit-content;

  input {
    width: unset;
  }
}
