.tooltip-trigger {
  display: flex;
}

.recent-offerings-popover {
  background-color: var(--overlay1) !important;
}

.recent-offerings-popover-inner {
  max-width: 300px;
  padding: 4px 0;
  text-wrap: nowrap;
  display: flex;
  background-color: var(--overlay1) !important;
}

.center {
  display: flex;
  justify-content: center;
}
