.gradedist-module-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;

  .gradedist-filter {
    margin: 1vh;
  }
}

#grade-dist-label {
  margin: "0";
  width: 100%;
}

#menu {
  display: flex;
}

#chart {
  height: 30em;
  display: flex;
  justify-content: space-evenly;
}

.grade_distribution_chart-container {
  display: inline-flex;
  height: 400px;
}

.chart {
  width: 50%;
}

.pie {
  width: 50%;
}

.grade-dist-mini {
  width: 100%;

  #menu {
    padding-top: 2vh;
    justify-content: flex-start;
  }

  .chart {
    width: 80%;
  }
}
