.gradedist-module-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;

  .gradedist-filter {
    margin: 1vh;
  }
}

#grade-dist-label {
  margin: "0";
  width: 100%;
}

#menu {
  display: flex;
}

#chart {
  display: flex;
  justify-content: space-evenly;
}

.grade_distribution_chart-container {
  display: inline-flex;
  height: 400px;
}

.chart {
  width: 50%;
}

.pie {
  width: 50%;
}

.pie-text {
  font-size: 1.5em;
}

.grade-dist-mini {
  width: 100%;

  #menu {
    padding-top: 2vh;
    justify-content: flex-start;
  }

  .chart {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  #chart {
      flex-direction: column;
  }

  .chart {
    width: 100%;
  }

  .pie {
    width: 100%;
  }

  .pie-text {
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 400px) {
  .pie-text {
    font-size: 1em;
  }
}