.gradedist-module-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;

  .chart-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-inline: 20px;
  }
}
.gradedist-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}
.gradedist-filter {
  .MuiInputBase-root {
    width: 200px;
    .MuiInputBase-input {
      width: 150px;
    }
  }
  .MuiAutocomplete-root {
    width: 200px;
  }
}

.gradedist-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 16px;
}

.gradedist-stats {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 0;
  width: 200px;
}

.grade-dist-chart-card {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;

  .MuiCardContent-root {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .grade-dist-chart-container {
    width: 100%;
    flex: 1;
    min-height: 300px;
    display: flex;
  }
}

.stat-card {
  width: 100%;
  .stat-label {
    color: var(--mui-palette-text-secondary);
  }

  .stat-value-row {
    display: flex;
    gap: 8px;
    align-items: center;

    .stat-unit {
      color: var(--mui-palette-text-secondary);

      &--baseline {
        align-self: flex-end;
        padding-bottom: 4px;
      }
    }
  }

  .stat-change-row {
    display: flex;
    gap: 4px;
  }
}

@media only screen and (max-width: 600px) {
  .grade-dist-chart-card {
    width: 100%;
    min-width: unset;
    flex: unset;
  }
}
