.gradedist-module-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .gradedist-filter {
    margin: 1vh;
  }
}

#grade-dist-label {
  margin: "0";
  width: 100%;
}

#menu {
  display: flex;
  margin: 0;

  .dropdown.icon {
    font-size: 1em;
    padding: 0;
  }
}

#chart {
  display: flex;
  justify-content: space-evenly;
}

.grade_distribution_chart-container {
  display: inline-flex;
  height: 400px;
}

.chart {
  width: 50%;
}

.pie {
  width: 50%;
}

.pie-text {
  font-size: 1.5em;
}

.grade-dist-mini {
  width: 100%;

  #menu {
    padding-top: 2vh;
  }

  .chart {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  #chart {
      flex-direction: column;
  }

  .chart {
    width: 100%;
  }

  .pie {
    width: 100%;
  }

  .pie-text {
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 400px) {
  .pie-text {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1319px) {
  .pie-text {
    font-size: 1.1em;
  }
}

@media only screen and (min-device-width : 1320px) 
and (max-device-width : 1440px)  {
  .pie-text {
    font-size: 1.2em;
  }
}
@media only screen and (min-device-width : 1441px) 
and (max-device-width : 1600px)  {
  .pie-text {
    font-size: 1.3em;
  }
}