.most-used-tags {
  width: 100%;

  .most-used-tags-header {
    display: flex;
    justify-content: space-between;
  }

  .num-reviews {
    color: var(--mui-palette-text-secondary);
  }

  .most-used-tags-bars {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 20px;
    border-radius: 4px;
    border: 1px solid oklch(from var(--mui-palette-common-onBackground) l c h / 0.23);
    background-color: var(--mui-palette-overlay-overlay2);

    .bar-label {
      display: flex;
      justify-content: space-between;
    }

    .MuiLinearProgress-root {
      height: 10px;
      border-radius: 5px;
      background-color: var(--mui-palette-overlay-overlay2);
    }
  }

  .view-more-btn {
    margin-top: 20px;
    color: var(--mui-palette-text-secondary);
    cursor: pointer;
    text-align: center;
  }
}
