.library-link {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
  p {
    margin: 0px;
  }
}

.materials-no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.materials-quarter {
  color: grey;
}
.materials-table {
  min-width: 100%;
  margin-top: 16px;
  font-size: 14px;

  th,
  .data-col,
  :is(th, .data-col):last-child {
    // prevents extra space on right side of table
    width: 60px;
    padding-right: 10px;
  }
}

.col-tableHolder {
  margin-left: 50px;
}
