.selector-group {
  display: flex;
  padding: 0;
  overflow: hidden;
  flex-shrink: 0;
  .MuiToggleButtonGroup-grouped:first-of-type {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .MuiToggleButtonGroup-grouped:last-of-type {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  button.ppc-btn {
    width: 100%;
    margin: 0;
    box-shadow: none;
    justify-content: center;
    font: inherit;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 12px;
    text-transform: none;
    &:not([disabled]):not(.disabled):is(:focus, :active) {
      box-shadow: none;
    }
    &:not(.Mui-selected) {
      color: var(--blue-primary);
    }
    &.Mui-selected {
      background-color: var(--blue-primary);
      color: white;
    }
    .button-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
    }
  }
}
