.course-popover {
  line-height: normal;
  width: 375px;

  .popover-name {
    display: flex;
    gap: 4px;
    font-size: 16px;
  }

  .spacer {
    margin: auto;
  }

  .course-info-warning {
    .warning-primary {
      font-size: 14px;
      gap: 5px;

      .warning-primary-icon {
        font-size: 16px;
      }
    }

    .warning-hint-italics {
      font-size: 12px;
      margin-bottom: 0px;
    }
  }

  .quarter-offerings-section {
    display: flex;
    gap: 4px;
  }

  .course-info-warning + .quarter-offerings-section {
    margin-top: 10px;
  }

  .quarter-indicator-container {
    margin-left: 0;
    float: none;
    align-items: center;
  }
}
