.course-popover {
  line-height: normal;
  width: 375px;

  .popover-name {
    font-weight: bold;
    font-size: 16px;
    height: 21px;
    margin-top: -2px;

    display: flex;
    gap: 4px;
  }

  .spacer {
    margin: auto;
  }

  .popover-subtitle {
    font-weight: bold;
  }

  .popover-units {
    font-weight: normal;
  }

  .popover-description {
    font-size: 14px;
    padding-top: 12px;
    line-height: 17px;
  }

  .popover-detail {
    padding-top: 12px;
  }

  .popover-detail-prefix {
    font-weight: bold;
  }

  .course-info-warning {
    .warning-primary {
      font-size: 14px;
      gap: 5px;

      .warning-primary-icon {
        font-size: 16px;
      }
    }

    .warning-hint-italics {
      font-size: 12px;
      margin-bottom: 0px;
    }
  }

  .popover-detail-italics {
    padding-top: 6px;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    color: var(--mid-gray);
  }

  .quarter-offerings-section {
    display: flex;
    gap: 4px;
  }

  .course-info-warning + .quarter-offerings-section {
    margin-top: 10px;
  }

  .quarter-indicator-container {
    margin-left: 0;
    float: none;
    align-items: center;
  }
}
