.footer {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: auto;
  padding: 10px 16px;
  width: 100%;

  a {
    &:not(:last-child) {
      margin-right: 16px;
    }
    color: gray;
    font-weight: bold;
  }

  a:hover {
    color: var(--blue-primary);
  }

  .links {
    display: flex;
    flex-wrap: wrap;
  }

  .copyright {
    margin-left: auto;

    p {
      color: gray;
      margin-bottom: 0;
    }

    a {
      margin-right: 0;
    }
  }
}
