.professor-page {
    display: flex;
}

.professor-page-body {
    margin-left: 4rem;
}

.professor-page-section {
    background-color: #ffffff;
    border-radius: var(--border-radius);
    padding: 3rem;
    margin-bottom: 3vh;
}

.twemoji {
    width: 3rem;
}