.professor-page {
    display: flex;
}

.professor-page-body {
    margin-left: 4rem;
}

.professor-page-section {
    background-color: #ffffff;
    border-radius: var(--border-radius);
    padding: 3rem;
    margin-bottom: 3vh;
}

.twemoji {
    width: 3rem;
}

@media only screen and (max-width: 600px) {
    .professor-page {
        flex-direction: column;
    }

    .professor-page-body {
        margin-left: 0;
        margin-top: 3vh;
    }
}