@use '../../globals';

.professor-page {
  display: flex;
}

.professor-page-body {
  margin-left: 4rem;
}

.professor-page-section {
  max-width: 45vw;
  background-color: var(--overlay1);
  border-radius: var(--border-radius);
  margin-bottom: 3vh;
  @include globals.card-padding;
}

.twemoji {
  width: 3rem;
}

@media only screen and (max-width: 1300px) {
  .professor-page {
    flex-direction: column;
  }

  .professor-page-body {
    margin-left: 0;
    margin-top: 3vh;
  }

  .professor-page-section {
    max-width: none;
  }
}
