h3.saved-courses-title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  margin-block: 16px 0;
}

.roadmap-search-results {
  $header-font-size: 14px;

  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: fit-content;
  justify-items: stretch;
  height: fit-content;
  overflow: auto;
  gap: 8px;
  margin-top: 8px;

  .course {
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    width: calc(100% - 4px);
    margin: 2px;
    padding: 6px 12px;
    box-shadow: 0 0 2px 0 var(--blue-primary);

    .name {
      font-size: $header-font-size;
      margin: 0;
    }
    .title {
      font-size: 12px;
      font-style: italic;
      margin-top: 0;
    }
    .units {
      order: 2;
      margin-left: 5px;
      font-size: $header-font-size;
      &::before {
        content: '• ';
      }
    }

    .course-card-top {
      display: flex;
    }
  }
  .course :is(.course-and-info) {
    display: contents;
  }

  &:not(.disabled) .course {
    cursor: grab;
    user-select: none;
    -webkit-user-select: none;
    &:active {
      cursor: grabbing;
    }
  }
  &.disabled .course {
    cursor: pointer;
  }
}
