h3.saved-courses-title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  margin-block: 16px 0;
}

.roadmap-search-results {
  $header-font-size: 14px;

  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: fit-content;
  justify-items: stretch;
  height: fit-content;
  overflow: auto;
  gap: 8px;
  margin-top: 8px;
}
