@use '../../../globals.scss';

.add-course-modal {
  @include globals.bottom-overlay(500);
  background-color: var(--overlay1);

  &:is(.enter, .enter-done) + .ui-overlay {
    opacity: 1;
    pointer-events: all;
  }

  button.fixed {
    @include globals.bottom-button();
  }

  .modal-header,
  .modal-body {
    padding: 16px;
  }

  .modal-dialog {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    max-width: 100%;
    .modal-content {
      border-radius: 8px 8px 0 0;
    }
  }

  .modal-header {
    gap: 8px;
    padding-bottom: 0;
    .spacer {
      margin-left: auto;
    }
  }

  h2,
  .unit-count {
    font-size: 20px;
  }

  button.MuiButtonBase-root {
    padding: 4px;
    margin: -6px -2px -8px;
  }

  .close-button {
    margin: -2px 4px -4px 0;
    &.MuiButtonBase-root {
      width: 32px;
      height: 32px;
    }
  }

  .quarter-offerings-section {
    display: flex;
    gap: 6px;
    color: var(--text-secondary);
    .quarter-indicator-container {
      margin-left: 0;
    }
  }
}
