.course {
  box-shadow: 0px 0px 4px var(--blue-primary);
  background: var(--overlay1);
  border-radius: 15px;
  height: auto;
  font-size: 16px;
  padding: 12px;
  position: relative;
  margin: 4px;
  color: var(--blue-primary);

  &.roadmap-course {
    display: grid;
    grid-template-areas: 'A B' 'A C';
    grid-template-columns: min-content auto;
    grid-template-rows: repeat(2, min-content); // Fix Safari oversizing dragged courses
    align-items: center;

    .course-drag-handle {
      grid-area: A;
      position: relative;
      left: -6px;
      cursor: grab;
      user-select: none;
      -webkit-user-select: none;
      &:active {
        cursor: grabbing;
      }
    }

    .title {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .course-and-info {
    grid-area: B;
    a {
      color: inherit;
    }
  }

  .name {
    font-weight: bold;
  }

  .warning-container {
    position: relative;
    top: -2px;
    left: 4px;
  }

  .title {
    margin-top: 2px;
    grid-area: C;
  }

  .units {
    margin-left: auto;
  }

  .missing-prereq {
    color: var(--red-primary);
  }
}

.course-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-and-info {
  display: flex;
  gap: 6px;
  margin-right: 2px;
  align-items: center;
  width: 100%;
  > .name {
    display: block;
  }
  .warning-container svg {
    font-size: 20px;
  }
}

button.course-delete-btn {
  color: var(--blue-primary);
  width: 24px;
  height: 24px;
  margin: -8px 0;
  margin-right: -4px;

  .MuiSvgIcon-root {
    font-size: 20px;
  }
}

.course-tooltip {
  margin-left: auto;
}

.course.sortable-fallback {
  height: fit-content !important;
  animation: course-fade-in 0.2s forwards;
}
@keyframes course-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
