.course {
  box-shadow: 0px 0px 4px var(--blue-primary);
  background: var(--overlay1);
  border-radius: 15px;
  height: auto;
  font-size: 16px;
  padding: 12px;
  position: relative;
  margin: 4px;

  &.roadmap-course {
    display: grid;
    grid-template-areas: 'A B' 'A C';
    grid-template-columns: min-content auto;
    grid-template-rows: repeat(2, min-content); // Fix Safari oversizing dragged courses
    align-items: center;

    .course-drag-handle {
      grid-area: A;
      position: relative;
      left: -6px;
      cursor: grab;
      user-select: none;
      -webkit-user-select: none;
      &:active {
        cursor: grabbing;
      }
    }

    .title {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .course-and-info {
    grid-area: B;
  }

  .name {
    font-weight: bold;
    text-decoration: underline;
    color: var(--blue-primary);
  }

  .warning-container {
    position: relative;
    top: -2px;
    left: 4px;
  }

  .title {
    margin-top: 2px;
    grid-area: C;
  }

  .courseLabels {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  .courseLabels > * {
    white-space: nowrap;
  }

  .courseLabels > *:not(:last-child)::after {
    content: '•';
    margin: 0 6px;
    color: var(--text-secondary);
    white-space: pre;
  }

  .units {
    margin-left: auto;
  }

  .missing-prereq {
    color: var(--red-primary);
  }
}

.course-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-and-info {
  display: flex;
  gap: 6px;
  margin-right: 2px;
  align-items: center;
  width: 100%;
  > .name {
    display: block;
  }
  .warning-container svg {
    font-size: 20px;
  }
}

button.course-delete-btn {
  color: var(--blue-primary);
  width: 24px;
  height: 24px;
  margin: -8px 0;
  margin-right: -4px;

  .MuiSvgIcon-root {
    font-size: 20px;
  }
}

.course-tooltip {
  margin-left: auto;
}

.course.sortable-fallback {
  height: fit-content !important;
  animation: course-fade-in 0.2s forwards;
}
@keyframes course-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-sidebar {
  $header-font-size: 14px;

  .course {
    display: grid;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    grid-template-areas: 'A B' 'A C';
    grid-template-columns: min-content auto;
    grid-template-rows: repeat(2, min-content);
    width: calc(100% - 4px);
    margin: 2px;
    padding: 6px 12px;
    box-shadow: 0 0 2px 0 #60616680;
    align-items: center;

    .course-drag-handle {
      grid-area: A;
      grid-row: 1 / -1;
      align-self: stretch;
      display: flex;
      align-items: center;
      position: relative;
      left: -6px;
    }

    .course-card-top {
      grid-area: B;
      margin-bottom: -4px;

      & .MuiSvgIcon-root {
        font-size: 20px;
      }
    }

    .course-info {
      grid-area: C;
      overflow: hidden;
      font-size: 14px;

      .title {
        font-size: 14px;
        font-weight: bold;
        display: inline;
      }
      .description {
        display: inline;
        float: none;
      }

      .course-labels {
        display: flex;
        align-items: center;
        font-weight: 500;
      }

      .course-labels > *:not(:last-child)::after {
        content: '•';
        margin: 0 6px;
        color: var(--text-secondary);
      }
    }
    .name {
      font-size: $header-font-size;
      margin: 0;
    }

    .course-card-top {
      display: flex;
    }
  }
  .course :is(.course-and-info) {
    display: contents;
  }

  div.search-body {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: fit-content;
    justify-items: stretch;
    gap: 8px;
    height: fit-content;

    &:not(.disabled) .course {
      cursor: grab;
      user-select: none;
      -webkit-user-select: none;
      &:active {
        cursor: grabbing;
      }
    }
    &.disabled .course {
      cursor: pointer;
    }
  }
}
