.course {
  box-shadow: 0px 0px 4px;
  background: var(--overlay1);
  border-radius: 15px;
  height: auto;
  font-size: 16px;
  padding: 12px;
  position: relative;
  margin: 4px;

  &.roadmap-course {
    display: grid;
    grid-template-areas: 'A B' 'A C';
    grid-template-columns: min-content auto;
    grid-template-rows: repeat(2, min-content); // Fix Safari oversizing dragged courses
    align-items: center;

    .course-drag-handle {
      grid-area: A;
      position: relative;
      left: -6px;
      cursor: grab;
      user-select: none;
      -webkit-user-select: none;
      color: var(--blue-primary);

      &:active {
        cursor: grabbing;
      }
    }

    .title {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--blue-primary);
    }
  }

  .course-and-info {
    grid-area: B;
  }

  .name {
    font-weight: bold;
    color: var(--blue-primary);
  }

  .warning-container {
    position: relative;
    top: -2px;
    left: 4px;
  }

  .title {
    margin-top: 2px;
    grid-area: C;
  }

  .missing-prereq {
    color: var(--red-primary);
  }
}

.course-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-and-info {
  display: flex;
  gap: 6px;
  margin-right: 2px;
  align-items: center;
  width: 100%;
  > .name {
    display: block;
  }
  .warning-container svg {
    font-size: 20px;
  }
}

.course-info-top {
  color: var(--blue-primary);
  display: flex;
  flex-direction: row;
  align-items: center;

  .units {
    width: 50px;
  }
  button.course-delete-btn {
    color: var(--blue-primary);
    width: 24px;
    height: 24px;
    margin: -8px 0;
    margin-right: -4px;

    .MuiSvgIcon-root {
      font-size: 20px;
    }
  }
}

.course.sortable-fallback {
  height: fit-content !important;
  animation: course-fade-in 0.2s forwards;
}
@keyframes course-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-sidebar {
  $header-font-size: 14px;

  .course {
    display: grid;
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    grid-template-areas: 'A B' 'A C';
    grid-template-columns: min-content auto;
    grid-template-rows: repeat(2, min-content);
    width: calc(100% - 4px);
    margin: 2px;
    padding: 6px 12px;
    box-shadow: 0 0 2px 0 #60616680;

    .course-drag-handle {
      grid-area: A;
      grid-row: 1 / -1;
      align-self: stretch;
      display: flex;
      align-items: center;
      position: relative;
      left: -6px;
    }

    .name {
      font-size: $header-font-size;
      margin: 0;
      text-decoration: underline;
    }

    .course-card-top {
      grid-area: B;
      margin-bottom: -4px;

      & .MuiSvgIcon-root {
        font-size: 20px;
      }
    }

    .course-info {
      grid-area: C;
      overflow: hidden;
      font-size: 14px;
      display: block;
      white-space: normal;

      .title,
      .description {
        display: inline;
      }

      .title {
        font-size: 14px;
        font-weight: bold;
      }

      .course-tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 4px;
        font-size: 11px;
        gap: 6px;
      }
    }
    .name {
      font-size: $header-font-size;
      margin: 0;
    }

    .course-card-top {
      display: flex;
    }
  }
  .course :is(.course-and-info) {
    display: contents;
  }

  div.search-body {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: fit-content;
    justify-items: stretch;
    gap: 8px;
    height: fit-content;

    &:not(.disabled) .course-drag-handle {
      cursor: grab;
      user-select: none;
      -webkit-user-select: none;
      &:active {
        cursor: grabbing;
      }
    }
    &.disabled .course {
      cursor: pointer;
    }
  }
}
