@use '../../../globals.scss';

.planner {
  $planner-gap: 24px;

  display: flex;
  flex-direction: column;
  gap: $planner-gap;
  position: relative;
  overflow: auto;
  height: 100%;
  padding: 36px;

  @media (max-width: globals.$mobile-cutoff) {
    padding: 16px;
  }

  .years {
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: auto;
    gap: $planner-gap;
    flex-shrink: 0;
  }

  .roadmap-header {
    top: 0px;
  }
}
