@use '../../../globals.scss';

.planner {
  $planner-gap: 24px;

  display: flex;
  flex-direction: column;
  gap: $planner-gap;
  position: relative;
  overflow: auto;
  height: 100%;

  section.years {
    padding: 36px;
    padding-top: 0px;
    padding-bottom: $planner-gap;

    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: auto;
    gap: $planner-gap;
    flex-shrink: 0;
  }
}
