@use '../../../globals.scss';

.planner {
  $planner-gap: 24px;

  display: flex;
  flex-direction: column;
  gap: $planner-gap;
  position: relative;
  overflow: auto;
  height: 100%;

  .years {
    @include globals.outer-padding();

    padding-top: 0px;

    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow: auto;
    gap: $planner-gap;
    flex-shrink: 0;
  }
}
