.filter-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.filter-item {
    background-color: var(--peterportal-light-gray);
    margin: 1vh 0;
    padding: 1vh 1.5vw;
    border-radius: 15px;
    overflow-y: auto;

    .filter-search {
        margin-bottom: 1vh;
    }

    .filter-option {
        .form-check-label {
            width: 100%;
        }
    
        .filter-label {
            display: flex;
            justify-content: space-between;
            gap: 1vw;
        }
    }
}

.ui.vertical.menu {
    width: 100%;
}

.sk-item-list__item {
    display: flex;
    font-weight: 500;
    margin: 0 3px 0 3px;
    cursor: pointer;
}

.sk-item-list-option__checkbox {
    flex: 0 0 15px;
    margin: 3px 5px 0 1px;
}

.sk-item-list-option__text,
.sk-item-list-option__count {
    font-size: 12px;
}

.sk-item-list-option__text {
    flex: auto;
}

.sk-item-list-option__count {
    text-align: right;
    color: gray;
    margin-right: 4px;
}

.sk-selected-filters-option {
    background: #f4f4f4;
    border: none;
    display: flex;
    padding: 6px 0 6px 10px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 3px;
}

.sk-selected-filters__item {
    flex: 0 0 auto;
    margin: 0 10px 10px 0;
    align-items: center;
}

.sk-selected-filters-option__name {
    flex: auto;
    color: var(--peterportal-primary-color-1);
}

.sk-selected-filters-option__remove-action {
    flex: auto;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    color: #08c;
    font-weight: 700;
    border-left: 1px solid #ddd;
    padding: 0 10px 0 10px;
    margin-left: 10px;
}

.sk-panel__header {
    display: none;
}

.sk-select {
    margin-bottom: 12px;
    width: 100%;

    select {
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        height: 35px;
        width: 95%;
        padding-left: 12px;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNDUxLjg0N3B4IiBoZWlnaHQ9IjQ1MS44NDdweCIgdmlld0JveD0iMCAwIDQ1MS44NDcgNDUxLjg0NyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDUxLjg0NyA0NTEuODQ3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZD0iTTIyNS45MjMsMzU0LjcwNmMtOC4wOTgsMC0xNi4xOTUtMy4wOTItMjIuMzY5LTkuMjYzTDkuMjcsMTUxLjE1N2MtMTIuMzU5LTEyLjM1OS0xMi4zNTktMzIuMzk3LDAtNDQuNzUxYzEyLjM1NC0xMi4zNTQsMzIuMzg4LTEyLjM1NCw0NC43NDgsMGwxNzEuOTA1LDE3MS45MTVsMTcxLjkwNi0xNzEuOTA5YzEyLjM1OS0xMi4zNTQsMzIuMzkxLTEyLjM1NCw0NC43NDQsMGMxMi4zNjUsMTIuMzU0LDEyLjM2NSwzMi4zOTIsMCw0NC43NTFMMjQ4LjI5MiwzNDUuNDQ5QzI0Mi4xMTUsMzUxLjYyMSwyMzQuMDE4LDM1NC43MDYsMjI1LjkyMywzNTQuNzA2eiIvPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48L3N2Zz4=);
        background-repeat: no-repeat;
        background-size: 12px;
        background-position: 94%;
        outline: none;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.sk-select:after {
    display: none;
}

.sk-panel__content {
    max-height: 55vh;
}
