.sk-hits-hit__id_department .sk-hits-hit__id_number .sk-hits-hit__prof_name {
  font-weight: 900 !important;
  color: var(--peterportal-primary-color-1);
}
.sk-hits-hit__name {
  font-weight: 500;
  color: var(--peterportal-primary-color-1);
}
.sk-hits-hit__title {
  font-weight: 500;
  color: var(--peterportal-primary-color-1);
}

.hit-subtitle {
  color: gray;
  font-weight: normal;
  margin-top: 0px;
}
.hit-item {
  border-radius: var(--border-radius);
  background-color: #ffffff;
  padding: 2vh;
  margin-bottom: 2vh;
}
