.hit-item {
  border-radius: var(--border-radius);
  background-color: var(--overlay1);
  padding: 2vh;
  margin-bottom: 2vh;
  cursor: pointer;

  a {
    color: var(--text);
  }
}

.course-hit-id {
  display: flex;
}
