@import './width.config.scss';

.search-hit-container {
    // max-width: $content-max-width;
    margin-right: 5vw;
}

@media only screen and (max-width: 600px) {
    // For the previous and next bar
    .sk-pagination-navigation.is-numbered {
        width: 100%;
        margin-left: 2.5vw;
    }
}