@import "~searchkit/theming/theme.scss";
@import "./width.config.scss";

// index.jsx
.sidebar-container {
  position: sticky;
  top: 4rem;
}

// SearchHitContainer.jsx
.search-hit-container {
  max-width: $content-max-width;
}