@use 'globals';

button {
  color: inherit;
}

body a {
  color: var(--blue-accent);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

html,
body {
  height: 100%;
}

html > body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  position: relative;
  height: 100%;
}

.app-body {
  display: flex;
  height: calc(100% - 72px);
  overflow: hidden;
}

.app-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background);
  box-sizing: border-box;

  .main-wrapper {
    position: relative;
    @include globals.outer-padding();
  }
}

.content-wrapper {
  padding: 32px 36px;
}

.side-panel {
  background-color: var(--overlay1);
  height: 100%;
  overflow: auto;
  width: globals.$roadmap-sidebar-width;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 16px 20px;
}

div.ppc-popover {
  border-radius: 8px;
  padding: 0px;
  box-shadow: none;
  max-width: 375px;
  top: -12px !important;

  $filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.35));
  filter: $filter;
  -webkit-filter: $filter;
  border: none;

  div.popover-body {
    border-radius: 8px;
    padding: 16px;
  }

  div.popover-arrow {
    z-index: -1;
    &::before {
      display: none;
    }
  }
  div.popover-arrow::after {
    position: absolute;
    border: 8px solid transparent;
    border-width: 12px 16px;
    top: 8px;
    left: unset;
  }
  &[data-popper-placement='bottom'] {
    top: -24px !important;
    div.popover-arrow::after {
      left: 0;
      bottom: 0;
      top: 10px;
      border-bottom-color: var(--overlay1);
      transform: translate(-25%, -100%);
      border-width: 16px 12px;
    }
  }
  &[data-popper-placement='left-start'] {
    margin-inline: 8px !important;
    div.popover-arrow::after {
      left: -2px;
      border-left-color: var(--overlay1);
    }
  }
  &[data-popper-placement='right-start'] {
    margin-inline: 8px !important;
    div.popover-arrow::after {
      right: -2px;
      border-right-color: var(--overlay1);
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

div.bs-popover-left {
  margin-right: 20px;

  div.arrow::after,
  div.arrow::before {
    left: -1px;
  }
}

div.ppc-popover.bs-popover-right {
  margin-left: 20px;
  margin-top: 4px !important;
}

div.ppc-popover.bs-popover-bottom {
  margin-top: 48px;
  div.arrow::after,
  div.arrow::before {
    left: 2px;
  }
}

.ppc-table {
  thead tr {
    background-color: var(--overlay2);
  }

  tbody tr:nth-child(even) {
    background-color: var(--overlay2);
  }

  tbody tr:nth-child(odd) {
    background-color: var(--overlay3);
  }
}

.ui-overlay {
  position: fixed;
  inset: 0;
  background-color: #6664;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: default;
  pointer-events: none;

  &.enter-active,
  &.enter-done {
    opacity: 1;
    pointer-events: all;
  }
  &.exit {
    pointer-events: none;
    opacity: 0;
  }
}

.table-wrapper {
  width: 100%;
  overflow: auto;
}

.loader-container {
  display: flex;
  margin: 20px;
  justify-content: center;
}

// revert styles that bootstrap decided to override for SOME reason
body hr {
  opacity: 1;
}

// monkey patch for recaptcha border bug
.g-recaptcha {
  overflow: hidden;
  width: 302px;
  height: 76px;
  border-radius: 4px;
}

// general bootstrap overwrites. bg/border color may need further customization per component
.table {
  color: var(--text);
}

[data-theme='dark'] {
  .btn-outline-primary {
    color: #0f83ff;
    border-color: #0f83ff;

    &:hover,
    &:focus {
      color: white;
    }

    &:hover {
      border-color: #007bff;
    }

    &:focus {
      border-color: #2767d4;
    }
  }

  .close {
    color: var(--text);
    text-shadow: none;
  }

  .page-link {
    background-color: var(--overlay1);
    border-color: var(--overlay2);

    &:hover,
    &:focus {
      background-color: var(--overlay2);
      color: #1284ff;
    }
  }

  .page-item.active .page-link:hover {
    background-color: #1284ff;
    color: #fff;
  }

  .page-item.disabled .page-link {
    background-color: var(--overlay1);
    border-color: var(--overlay2);
  }
}

div.popover {
  background-color: var(--overlay1);
}
div.popover-body {
  background-color: var(--overlay1);
  color: var(--text);
}
div.bs-popover-top > div.arrow::after {
  border-top-color: var(--overlay1);
}
div.bs-popover-bottom > div.arrow::after {
  border-bottom-color: var(--overlay1);
}
div.bs-popover-left > div.arrow::after {
  border-left-color: var(--overlay1);
}
div.bs-popover-right > div.arrow::after {
  border-right-color: var(--overlay1);
}
// end bootstrap overwrites
