@use 'globals';

button {
  color: inherit;
}

body a {
  color: var(--blue-accent);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  background: var(--background);
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1.2;
}

b,
strong {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  position: relative;
  height: 100%;
}

.app-body {
  display: flex;
  height: calc(100% - 72px);
  overflow: hidden;
}

.app-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--background);
  box-sizing: border-box;

  .main-wrapper {
    position: relative;
    @include globals.outer-padding();
  }
}

.content-wrapper {
  padding: 32px 36px;
}

.side-panel {
  background-color: var(--overlay1);
  height: 100%;
  overflow: auto;
  width: globals.$roadmap-sidebar-width;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 16px 20px;
}

.ppc-table {
  thead tr {
    background-color: var(--overlay2);
  }

  tbody tr:nth-child(even) {
    background-color: var(--overlay2);
  }

  tbody tr:nth-child(odd) {
    background-color: var(--overlay3);
  }
}

.ui-overlay {
  position: fixed;
  inset: 0;
  background-color: #6664;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: default;
  pointer-events: none;

  &.enter-active,
  &.enter-done {
    opacity: 1;
    pointer-events: all;
  }
  &.exit {
    pointer-events: none;
    opacity: 0;
  }
}

.table-wrapper {
  width: 100%;
  overflow: auto;
}

.loader-container {
  display: flex;
  margin: 20px;
  justify-content: center;
}

// monkey patch for recaptcha border bug
.g-recaptcha {
  overflow: hidden;
  width: 302px;
  height: 76px;
  border-radius: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
