@use 'globals';

#root {
  position: relative;
  height: 100%;
}

.app-body {
  display: flex;
  height: calc(100% - 52px);
  overflow: hidden;
}

.app-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 64px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--mui-palette-background-default);
  box-sizing: border-box;

  .main-wrapper {
    position: relative;
    @include globals.outer-padding();
  }

  @media (max-width: globals.$mobile-cutoff) {
    margin-left: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content-wrapper {
  padding: 32px 36px;
}

html {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a {
  color: var(--mui-palette-secondary-main);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-top: 0;
}

b,
strong {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1.2;
}

button {
  color: inherit;
  cursor: pointer; // @todo: refactor some clickable elements to non-buttons to get rid of this
}

img,
svg {
  vertical-align: middle;
}

.ppc-table {
  border: 0 solid;
  border-color: inherit;
  border-collapse: collapse;

  th {
    text-align: inherit;

    &:first-child {
      text-align: start;
    }
  }

  thead tr {
    background-color: var(--mui-palette-overlay-overlay2);
  }

  tbody tr:nth-child(even) {
    background-color: var(--mui-palette-overlay-overlay2);
  }

  tbody tr:nth-child(odd) {
    background-color: var(--mui-palette-overlay-overlay3);
  }
}

.ui-overlay {
  position: fixed;
  inset: 0;
  background-color: #6664;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: default;
  pointer-events: none;

  &.enter-active,
  &.enter-done {
    opacity: 1;
    pointer-events: all;
  }
  &.exit {
    pointer-events: none;
    opacity: 0;
  }
}

.table-wrapper {
  width: 100%;
  overflow: auto;
}

// monkey patch for recaptcha border bug
.g-recaptcha {
  overflow: hidden;
  width: 302px;
  height: 76px;
  border-radius: 4px;
}
