:root {
  --background: var(--gray-blue);
  --overlay1: #fff;
  --overlay2: var(--gray-blue);
  --overlay3: #fff;
  --text: #212529;
  --text-secondary: #606166;

  --blue-primary: #2484c6;
  --blue-secondary: #5babe1;
  --blue-tertiary: #a0ceee;
  --blue-accent: #74d1f6;

  --green-primary: green;
  --red-primary: #ce0000;

  --green-secondary: #87c587;
  --yellow-secondary: #f5d77f;
  --orange-secondary: #ecad6d;
  --red-secondary: #e7966d;

  --mid-gray: #8d8d8d;
  --gray-blue: #f5f6fc;
  --ring-road-white: #ffffff;

  /* Unlike the secondary colors above, these secondary-light colors
  aren't overridden by the dark mode variants defined in the body
  below, since these are defined at the root, not in the body */
  --blue-secondary-light: var(--blue-secondary);
  --green-secondary-light: var(--green-secondary);
  --yellow-secondary-light: var(--yellow-secondary);
  --orange-secondary-light: var(--orange-secondary);
  --red-secondary-light: var(--red-secondary);

  --gradedist-p: #4ab486;
  --gradedist-np: #e36436;
  --spring-quarter: #ffc7df;

  --border-radius: 8px;
  --border-primary: rgba(96, 97, 102, 0.5);
  --border-secondary: rgba(0, 0, 0, 0.12);
}

// each overlay is about 5% brighter than the previous
// roughly following: https://m2.material.io/design/color/dark-theme.html
:root[data-theme='dark'] {
  --background: #121212;
  --overlay1: #1e1e1e;
  --overlay2: #292929;
  --overlay3: #363636;
  --text: #fff;
  --text-secondary: #99999f;
  color-scheme: dark;

  --blue-secondary: #185680;
  --blue-tertiary: #0b293c;
  --red-primary: #ff3333;
  --green-secondary: #295629;

  --border-secondary: rgba(255, 255, 255, 0.12);
}

$mobile-cutoff: 800px;
$sidebar-width-open: 300px;
$sidebar-width-closed: 72px;

$roadmap-sidebar-width: 368px;
$mui-transition-time: 268ms;

@mixin card-padding {
  padding: 24px 28px;
  @media (max-width: $mobile-cutoff) {
    padding: 16px 20px;
  }
}

@mixin clickable($hoverVal: 0.8, $activeVal: 0.5) {
  transition: opacity 0.2s;
  cursor: pointer;
  &:hover {
    opacity: $hoverVal;
  }
  &:active {
    opacity: $activeVal;
  }
}

@mixin bottom-overlay($zIndex: 400) {
  position: fixed;
  top: unset;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: $zIndex;
  max-height: calc(100% - 120px);
  padding-bottom: 56px;
  transform: translateY(100%);
  transition: transform 0.3s;
  &.enter,
  &.enter-done {
    transform: unset;
  }
}

@mixin bottom-button() {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: var(--blue-primary);
  width: 100%;
  border: none;
  appearance: none;
  color: white;
  font: inherit;
  font-weight: 600;
  font-size: 14px;
  @include clickable(0.9, 0.7);
}
