$mobile-cutoff: 800px;

@mixin card-padding {
  padding: 32px 36px;
  @media (max-width: $mobile-cutoff) {
    padding: 16px 20px;
  }
}

@mixin clickable($hoverVal: 0.8, $activeVal: 0.5) {
  transition: opacity 0.2s;
  cursor: pointer;
  &:hover {
    opacity: $hoverVal;
  }
  &:active {
    opacity: $activeVal;
  }
}

@mixin bottom-overlay($zIndex: 400) {
  position: fixed;
  top: unset;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: $zIndex;
  max-height: calc(100% - 120px);
  padding-bottom: 56px;
  transform: translateY(100%);
  transition: transform 0.3s;
  &.enter,
  &.enter-done {
    transform: unset;
  }
}

@mixin bottom-button() {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: var(--zot-blue);
  width: 100%;
  border: none;
  appearance: none;
  color: white;
  font: inherit;
  font-weight: 600;
  font-size: 14px;
  @include clickable(0.9, 0.7);
}
