@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  position: relative;
  height: 100vh;
}

:root {
  --blue-primary: #2484c6;
  --blue-secondary: #5babe1;
  --blue-tertiary: #a0ceee;
  --blue-accent: #74d1f6;

  --green-primary: green;
  --red-primary: #ce0000;

  --green-secondary: #87c587;
  --yellow-secondary: #f5d77f;
  --orange-secondary: #ecad6d;
  --red-secondary: #e7966d;

  --mid-gray: #8d8d8d;
  --gray-blue: #f5f6fc;
  --ring-road-white: #ffffff;

  --border-radius: 8px;
}

/* User theme is not accessible to :root, so we override them in body */
body[data-theme='dark'] {
  --blue-secondary: #185680;
  --blue-tertiary: #0b293c;

  --red-primary: #ff3333;
  --green-secondary: #295629;
}
