@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  position: relative;
  height: 100vh;
}

:root {
  --blue-primary: #2484c6;
  --blue-secondary: #5babe1;
  --blue-tertiary: #a0ceee;
  --blue-accent: #74d1f6;

  --blue-primary-50-percent: #2484c680;
  --blue-primary-80-percent: #2484c6cc;

  --green-primary: green;
  --rating-4: #81c284;
  --rating-3: #f5d77f;
  --rating-2: #ecad6d;
  --rating-1: #e7966d;

  --mid-gray: #8d8d8d;
  --gray-blue: #f5f6fc;
  --ring-road-white: #ffffff;

  --border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --blue-primary: #268cd3; /*! Note: different from the color above */
    --blue-secondary: #185580;
    --blue-tertiary: #0b283c;
    --rating-4: #3e7f41;
  }
}

.hide {
  display: none;
}
