@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  height: 100%;
}

html > body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  position: relative;
  height: 100%;
}

:root {
  --blue-primary: #2484c6;
  --blue-secondary: #5babe1;
  --blue-tertiary: #a0ceee;
  --blue-accent: #74d1f6;

  --green-primary: green;
  --red-primary: #ce0000;

  --green-secondary: #87c587;
  --yellow-secondary: #f5d77f;
  --orange-secondary: #ecad6d;
  --red-secondary: #e7966d;

  --mid-gray: #8d8d8d;
  --gray-blue: #f5f6fc;
  --ring-road-white: #ffffff;

  /* Unlike the secondary colors above, these secondary-light colors
  aren't overridden by the dark mode variants defined in the body
  below, since these are defined at the root, not in the body */
  --blue-secondary-light: var(--blue-secondary);
  --green-secondary-light: var(--green-secondary);
  --yellow-secondary-light: var(--yellow-secondary);
  --orange-secondary-light: var(--orange-secondary);
  --red-secondary-light: var(--red-secondary);

  --gradedist-p: #4ab486;
  --gradedist-np: #e36436;
  --spring-quarter: #ffc7df;

  --border-radius: 8px;
  --border-primary: rgba(96, 97, 102, 0.5);
  --border-secondary: rgba(0, 0, 0, 0.12);
}

/* User theme is not accessible to :root, so we override them in body */
:root[data-theme='dark'] {
  --blue-secondary: #185680;
  --blue-tertiary: #0b293c;
  --red-primary: #ff3333;
  --green-secondary: #295629;

  --border-secondary: rgba(255, 255, 255, 0.12);
}
