.course_page {
    margin-top: 60px;
    margin-bottom: 100px;
    margin: 140px auto;
    .row {
        width: 1200px;
        margin: auto;
    }
}

.twemoji {
    width: 3rem;
}

article {
    .row {
        margin-bottom: 4rem;
        .twemoji {
            width: 1.5rem;
            margin-right: 0.5rem;
        }
    }
}