// light theme vars
:root {
  --background: var(--gray-blue); // defined in index.css
  --overlay1: #fff;
  --overlay2: var(--gray-blue);
  --overlay3: #fff;
  --overlay4: var(--gray-blue);
  --text: #212529; // default bootstrap color
  --text-secondary: #606166;
  --text-dark: #000;
  --text-light: #495057;
}

// dark theme vars
// each overlay is about 5% brighter than the previous
// roughly following: https://m2.material.io/design/color/dark-theme.html
[data-theme='dark'] {
  --background: #121212;
  --overlay1: #1e1e1e;
  --overlay2: #292929;
  --overlay3: #363636;
  // jumps to 10% brighter
  --overlay4: #4c4c4c;
  --text: #fff;
  --text-secondary: #99999f;
  --text-dark: #fff;
  --text-light: #fff;

  color-scheme: dark;
}

// general bootstrap overwrites. bg/border color may need further customization per component
.table {
  color: var(--text);
}

.form-control::selection {
  color: var(--text-dark);
}

[data-theme='dark'] {
  .list-group-item,
  .modal-content,
  .dropdown-menu,
  .dropdown-item,
  .form-control,
  .form-control:focus {
    color: var(--text);
    background-color: var(--overlay2);
  }

  .form-control {
    border-color: var(--overlay3);
  }

  .form-control:focus {
    border-color: #86bbfb !important;
  }

  .custom-control-label::before {
    background-color: var(--overlay3);
  }

  .dropdown-item:hover {
    background-color: var(--overlay3);
  }

  .btn-outline-primary {
    color: #0f83ff;
    border-color: #0f83ff;

    &:hover,
    &:focus {
      color: white;
    }

    &:hover {
      border-color: #007bff;
    }

    &:focus {
      border-color: #2767d4;
    }
  }

  .close {
    color: var(--text);
    text-shadow: none;
  }

  .page-link {
    background-color: var(--overlay1);
    border-color: var(--overlay2);

    &:hover,
    &:focus {
      background-color: var(--overlay2);
      color: #1284ff;
    }
  }

  .page-item.active .page-link:hover {
    background-color: #1284ff;
    color: #fff;
  }

  .page-item.disabled .page-link {
    background-color: var(--overlay1);
    border-color: var(--overlay2);
  }
}

.popover {
  background-color: var(--overlay1);
}
.popover-body {
  background-color: var(--overlay1);
  color: var(--text);
}
.bs-popover-top > .arrow::after {
  border-top-color: var(--overlay1);
}
.bs-popover-bottom > .arrow::after {
  border-bottom-color: var(--overlay1);
}
.bs-popover-left > .arrow::after {
  border-left-color: var(--overlay1);
}
.bs-popover-right > .arrow::after {
  border-right-color: var(--overlay1);
}
// end bootstrap overwrites

// general semantic-ui overwrites. bg/border color may need to be customized per component
[data-theme='dark'] {
  .ui {
    color: var(--text);
    background-color: var(--overlay2);
    border-color: var(--overlay1);
  }
}
// end semantic-ui overwrites
