@use '../../globals.scss';

.search-hit-container {
  overflow-y: auto;
  padding: 90px 36px 36px;

  > *:not(:last-child) {
    margin-bottom: 20px;
  }
  @media only screen and (max-width: globals.$mobile-cutoff) {
    padding-right: 36px;
  }
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;

  img {
    width: 400px;
    max-width: 100%;
  }
}

.search-pagination {
  display: flex;
  justify-content: center;
}
