@use '../../globals.scss';

.search-hit-container {
  overflow-y: auto;
  padding: 20px;

  > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.search-module:not(:has(.filter-group)) ~ .search-hit-container {
  padding-top: 96px;
}

.search-pagination {
  display: flex;
  justify-content: center;
}
