@use '../../globals.scss';

.search-hit-container {
  overflow-y: auto;
  padding: 8px 20px 20px;

  > *:not(:last-child) {
    margin-bottom: 20px;
  }

  .loading-spinner {
    margin-top: 12px;
  }
}

.search-module:not(:has(.filter-group)) ~ .search-hit-container {
  padding-top: 96px;
}
