.recent-offerings {
  overflow-x: auto;
  width: 100%;

  h2 {
    font-weight: bold;
  }
}

.recent-offerings-table {
  font-size: 16px;
  width: 100%;
  max-width: 540px;
  .bi-check {
    transform: scale(1.5);
  }

  :is(td, th) {
    min-width: 50px;
    padding: 4px 10px;
  }

  :is(th, td):not(:first-child) {
    text-align: center;
  }

  :is(td):not(:first-child) {
    transform: translateY(-2px);
  }
}
