@use '../../globals.scss';

.add-course-modal {
  @include globals.bottom-overlay(500);
  background-color: var(--background);

  &:is(.enter, .enter-done) + .ui-overlay {
    opacity: 1;
    pointer-events: all;
  }

  button.fixed {
    @include globals.bottom-button();
  }

  .modal-dialog {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    max-width: 100%;
    .modal-content {
      border-radius: 8px 8px 0 0;
    }
  }
}

.add-course-form {
  // border-radius: var(--border-radius);
  padding: 2rem;
}
