@use '../../globals.scss';

.add-course-modal {
  @include globals.bottom-overlay(500);
  background-color: var(--overlay1);

  &:is(.enter, .enter-done) + .ui-overlay {
    opacity: 1;
    pointer-events: all;
  }

  button.fixed {
    @include globals.bottom-button();
  }

  .modal-dialog {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    max-width: 100%;
    .modal-content {
      border-radius: 8px 8px 0 0;
    }
  }

  .modal-header {
    gap: 8px;
    .spacer {
      margin-left: auto;
    }
  }

  h2,
  .unit-count {
    font-size: 20px;
  }

  button:not(.fixed),
  button.close {
    background: none;
    font: inherit;
    border: none;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 0;

    @include globals.clickable(0.8, 0.5);
  }

  button.close-button {
    width: 32px;
  }

  .quarter-offerings-section {
    display: flex;
    gap: 6px;
    color: var(--text-secondary);
    .quarter-indicator-container {
      margin-left: 0;
    }
  }
}

.add-course-form {
  padding: 2rem;
}
