@use '../../globals.scss';

.add-course-modal {
  @include globals.bottom-overlay(500);
  background-color: var(--overlay1);

  &:is(.enter, .enter-done) + .ui-overlay {
    opacity: 1;
    pointer-events: all;
  }

  .modal-dialog {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    max-width: 100%;
    .modal-content {
      border-radius: 8px 8px 0 0;
    }
  }

  .modal-header {
    gap: 8px;
  }

  .spacer {
    margin-left: auto;
  }

  button.close-button {
    width: 32px;
  }

  .quarter-offerings-section {
    display: flex;
    gap: 6px;
    color: var(--text-secondary);
    .quarter-indicator-container {
      margin-left: 0;
    }
  }
}
