.ui.button.add-year-btn {
  background-color: transparent;
  font-weight: normal;
  font-size: 1.2rem;
  color: var(--petr-gray);
}

.plus.circle.icon {
  padding-right: 25px;
}

.ui.button.popup-btn {
  text-transform: uppercase;
  background-color: var(--peterportal-primary-color-1);
  color: var(--ring-road-white);
  border-radius: 1.25rem;
}

h5 {
  font-weight: bold;
}
