@use '../../globals.scss';

.header {
  border-radius: var(--border-radius);
  color: var(--ring-road-white);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
  position: sticky;
  top: 36px;
  z-index: 2;
  font-size: 14px;

  &::before {
    content: ' ';
    position: absolute;
    top: -64px;
    left: 0;
    height: 80px;
    background-color: var(--background);
    width: 100%;
  }
  &::after {
    content: ' ';
    position: absolute;
    inset: 0;
    width: 100%;
    background: linear-gradient(to right, var(--blue-primary), var(--blue-accent));
    border-radius: inherit;
  }
  > * {
    position: relative;
    z-index: 1;
  }

  .planner-left {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    align-items: center;
    gap: 8px 12px;
    z-index: 2;
  }

  .btn-group button {
    white-space: nowrap;
    padding-inline: 8px;
    @media (max-width: 900px) {
      font-size: 13px;
      margin: 0;
      padding: 6px;

      .MuiSvgIcon-root {
        font-size: 18px;
        margin-right: 4px;
      }
    }
  }

  .planner-right {
    .btn-group {
      justify-content: end;
    }
    .btn-group > button {
      flex-grow: 0;
    }
  }
}

.header-btn {
  color: var(--ring-road-white);
  background-color: transparent;
  font-weight: bold;
  border: none;
  font-size: 14px;
  padding: 6px 12px;
}

.header-btn:hover,
.header-btn:focus {
  background-color: transparent;
  color: var(--ring-road-white);
}

.header-icon {
  margin-right: 6px;
  padding-inline: 1px;
  margin-top: 1px;
}
