.import-schedule-btn.btn-light {
  background-color: #e3e5eb;
}

.import-schedule-icon {
  font-size: 20px;
}

.import-schedule-warning {
  font-size: 14px;
  color: var(--red-primary);
  gap: 5px;

  .import-schedule-warning-icon {
    margin-bottom: 4px;
    margin-right: 4px;
    font-size: 16px;
  }
}

.import-button-icon {
  font-size: 20px;
  margin-right: 5px;
}
