.roadmap-page {
  font-family: 'Open Sans', sans-serif;
  background: #f6f6f6;
  height: calc(100vh -  4rem);
  overflow: hidden;
  display: flex;
  width: 100%;

  .hide {
    display: none;
  }

  .main-wrapper {
    width: 80%;
    height: 100%;
    overflow-y: auto;
  }

  .main-wrapper.mobile {
    width: 100%;
  }

  .sidebar-wrapper {
    background: white;
    width: 30%;
    height: 100%;
    background-color: white;
    overflow-y: auto;
  }

  .sidebar-wrapper.mobile {
    width: 100%;
  }
}