@use '../../globals.scss';

.main-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &.mobile {
    width: 100%;
    padding: 16px;
  }
}

.planner {
  $planner-gap: 24px;

  display: flex;
  flex-direction: column;
  gap: $planner-gap;
  position: relative;
  padding: 0;

  .years {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    gap: $planner-gap;
  }

  .header {
    top: 0px;
  }
}
