@use '../../globals.scss';

.planner {
  $planner-gap: 24px;

  display: flex;
  flex-direction: column;
  gap: $planner-gap;
  position: relative;

  .years {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    gap: $planner-gap;
  }

  padding: 0;
  .header {
    top: 0px;
  }
}
