.quarter {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #2484c6;
  flex: 1 1 30%;
  height: fit-content;
  margin: .75rem;

  .quarter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .quarter-title {
      font-weight: bold;
      font-size: 20px;
      padding: 1rem 0rem 0rem 2rem;
    }

    .edit-btn {
      width: 5%;
      margin-top: 10px;
      margin-right: 1.5rem;
    }
  }

  .quarter-units {
    padding: 0rem 0rem 1rem 2rem;
    color: #808080;
    font-size: 16px;
  }
}

.quarter-menu-btn {
  display: block;
  width: 100%;
  text-align: start;
  border: 0px;
  background: transparent;
  padding: 0;
}

.red-menu-btn {
  color: red;
}