[data-theme='dark'] {
  .quarter .quarter-header .quarter-title {
    color: #eee;
  }

  .quarter-menu-btn:hover,
  .quarter-menu-btn:focus,
  .popover-body .quarter-menu-btn:active {
    background-color: var(--overlay2);
  }
}

.quarter {
  background-color: var(--overlay1);
  border-radius: 10px;
  box-shadow: 0px 0px 4px var(--zot-blue);
  flex: 1 1 30%;
  height: fit-content;
  margin: 0.75rem;

  .quarter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .quarter-title {
      color: #202e47;
      font-weight: bold;
      font-size: 20px;
      padding: 1rem 0rem 0rem 2rem;
    }

    .quarter-edit-btn {
      background: none;
      border: none;
      margin-top: 0.25rem;
      margin-right: 1.25rem;
    }
  }

  .quarter-units {
    padding: 0rem 0rem 1rem 2rem;
    color: #808080;
    font-size: 16px;
  }
}

.quarter-menu-btn {
  display: block;
  width: 100%;
  text-align: start;
  border: 0px;
  background: transparent;
  padding: 0;
}

.red-menu-btn,
.red-menu-btn:hover,
.red-menu-btn:focus,
.popover-body .quarter-menu-btn.red-menu-btn:active {
  color: red;
}
