.multi-plan-selector {
  .select-item {
    display: flex;
    gap: 4px;
    padding: 4px 8px;
    align-items: center;
  }
  .dropdown-item .MuiButton-root {
    font-weight: 500;
    color: inherit;
    justify-content: start;
    text-transform: none;
    font-size: inherit;
    height: 32px;
  }
  .select-item button.MuiIconButton-root {
    width: 32px;
    height: 32px;
    &:not(.delete-btn) .MuiSvgIcon-root {
      font-size: 20px;
    }
  }
  .add-item {
    padding-inline: 16px;
  }
  .add-item button.MuiButton-root {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-direction: column;
    height: fit-content;
    padding: 6px 12px;
    width: 80px;
    flex-grow: 1;
    font-size: 12px;
    font-weight: 500;
    background-color: #88888818;
    color: inherit;
    text-transform: none;

    span {
      white-space: normal;
      text-align: center;
      line-height: 1.25;
    }
  }
  .dropdown-item {
    display: contents;
    color: inherit;
  }
  .dropdown-item .btn {
    padding: 8px 20px 8px 12px;
    text-align: left;
  }
  .dropdown-item > * {
    width: 100%;
  }
  .btn {
    font: inherit;
    color: inherit;
    font-weight: bold;
    background-color: inherit;
    text-align: left;
    border: none;
    padding: 6px;
    margin: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 32px;

    &:hover,
    &:focus {
      background-color: #8882;
      color: inherit;
    }
    &:active {
      background-color: #8884;
    }
  }
  .btn-primary {
    border: 2px solid var(--blue-accent);
    background-color: transparent;
    border-radius: 4px;
    font-weight: bold;
    padding: 4px 10px;
    height: 34px;

    &[aria-expanded='true'],
    &:not(.disabled):active {
      border-color: var(--blue-primary);
      background-color: #0062cc88;
    }
  }

  .separator-label {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    margin-block: 4px;
    margin-inline: 16px;
    color: var(--text-secondary);
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 8px;
  }
  .separator-label hr {
    margin: 0;
    border: 0.5px solid var(--text-secondary);
    width: 100%;
    opacity: 0.8;
  }
}
