@use '../../globals';

.search-sidebar {
  position: sticky;
  right: 0;
  top: 0;
  overflow: auto;
  width: 368px;
  height: 100%;
  background-color: var(--overlay1);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 16px 20px;
  border-radius: 8px;

  .search-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    gap: 8px;
    margin-top: 8px;
  }

  &.mobile {
    position: fixed;
    top: unset;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 450;
    max-height: calc(100% - 120px);
    padding-bottom: 40px;
    transform: translateY(100%);
    transition: transform 0.3s;
    &.enter,
    &.enter-done {
      transform: translateY(0);
    }
  }

  button.fixed {
    position: fixed;
    bottom: 0;
    height: 40px;
    background-color: var(--zot-blue);
    width: 100%;
    border: none;
    appearance: none;
    color: white;
    font: inherit;
    font-weight: 600;
    @include globals.clickable(0.9, 0.7);
  }

  .coursebag-title {
    margin: 12px 6px 0;
  }
}

.search {
  padding: 2rem;
}

.search-header {
  display: flex;
}

.search-sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.search-sidebar-search-module {
  .form-group {
    margin-bottom: 0;
  }
}
