@use '../../globals';
$wrapper-width: 368px;

.search-sidebar {
  .coursebag-title {
    margin: 12px 6px 0;
  }
  &.mobile {
    @include globals.bottom-overlay(450);
  }
}

.search {
  padding: 2rem;
}

.search-header {
  display: flex;
}

.search-sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.search-sidebar-search-module {
  .form-group {
    margin-bottom: 0;
  }
}

.coursebag-title {
  font-size: 1.25rem;
  font-weight: 500;
}

h3.coursebag-title {
  font-size: 1.5rem;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;

  img {
    width: 400px;
    max-width: 100%;
  }
}

.search-pagination {
  display: flex;
  justify-content: center;
}
