@use '../../globals.scss';

[data-theme='dark'] {
  .transfer-header {
    border-bottom-color: var(--overlay3);
  }
  .transfer-footer {
    border-top-color: var(--overlay3);
  }
}

.transfer-body {
  max-height: 75vh;
  overflow-y: auto;
}

.list-group {
  height: max-content;
  overflow-x: scroll;
}

.transfer-body .list-group .list-group-item {
  min-width: max-content;
  background-color: var(--overlay3);
}

.entry {
  margin-top: 1%;
}

.add-entry {
  background-color: transparent;
  color: var(--peterportal-primary-color-1);
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 4px;
}

.add-entry:hover {
  background-color: transparent;
  color: var(--peterportal-primary-color-1);
}

[data-theme='dark'] {
  .add-entry,
  .add-entry:hover {
    color: var(--peterportal-primary-color-2);
  }
}

.transfer-modal {
  .modal-dialog {
    max-width: 500px;
    max-height: 80%;
  }
  p {
    font-size: 16px;
  }
}

.entry-delete-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 0;

  @include globals.clickable(0.8, 0.5);
  color: black;
  transition: color 0.2s;
  &:hover {
    color: red;
  }
}
