@import '../../globals';

[data-theme='dark'] {
  .year-settings-btn:hover,
  .year-settings-btn:focus,
  .popover-body .year-settings-btn:active {
    background-color: var(--overlay2);
  }

  .edit-year-form {
    .form-control,
    .form-control:focus {
      background-color: var(--overlay1);
    }
  }
}

.year {
  $padding-x: 20px;
  margin: 1rem 0;
  padding: 16px $padding-x;
  align-items: center;
  background-color: var(--overlay1);
  border-radius: var(--border-radius);
  border-collapse: separate;
  display: inline-block;
  width: 100%;
  position: relative;
  hr {
    margin-inline: -$padding-x;
  }
}

.yearTitleBar {
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius);
}

.caret-icon {
  margin-right: 10px;
}

.year-accordion-content {
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-block: 16px 4px;
}

.year-accordion-title {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  align-items: center;
}

#year-number,
#course-count,
#unit-count {
  font-weight: bold;
}

#year-stats {
  color: var(--petr-gray);
}

#year-title {
  color: var(--text);
  font-size: 1.2rem;
  text-align: left;
}

#year-accordion-icon {
  display: inline;
  padding-right: 1rem;
}

.year-accordion {
  width: 95%;
  padding: 0;
}

.year-accordion:hover,
.year-accordion:active,
.year-accordion:focus {
  text-decoration: none;
  box-shadow: none;
}

.year-accordion-title {
  width: 100%;
}

.year-edit-btn {
  background: none;
  border: none;
  margin-right: 1.25rem;
  padding-bottom: 0.5rem;
}

.year-settings-btn {
  display: block;
  width: 100%;
  text-align: start;
  border: 0px;
  background: transparent;
  padding: 0;
}

.year-settings-popover {
  z-index: 1;
}

.edit-year-form-label {
  font-weight: bold;
}

.edit-year-popup-btn {
  text-transform: uppercase;
  background-color: var(--peterportal-primary-color-1);
  color: var(--ring-road-white);
  border-radius: 1.25rem;
}

#clear-btn {
  color: red;
}

#remove-btn {
  color: red;
}

@media only screen and (max-width: 400px) {
  .year-accordion-title {
    flex-direction: column;
  }

  .edit-btn {
    margin-right: 10px;
  }
}

@media only screen and (max-width: $mobile-cutoff) {
  .year-accordion-content {
    flex-direction: column;
  }
}
