.ap-import-row {
  display: flex;
  align-items: center;
  gap: 12px;

  .exam-input {
    width: 216px;
    color: grey;
  }

  .score-input {
    width: 100px;
    color: grey;
  }

  .MuiOutlinedInput-root {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 32px;
      top: 8px;
      bottom: 8px;
      width: 1px;
      background-color: var(--mui-palette-divider);
      pointer-events: none;
    }
  }
}

.select {
  display: inline-block;

  .select-box {
    border: 1px solid var(--mui-palette-primary-main);
    background-color: var(--mui-palette-primary-main);
    color: white;
    border-radius: 32px;
    height: 20px;
    padding-block: 0;
    text-align: center;
  }
}
