.transfer-credits-section {
  margin-block: 18px 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  h4 {
    margin-bottom: 0;
    text-align: left;
    font-size: 20px;
  }

  .section-description {
    font-size: 14px;
    margin-bottom: 0;
    color: var(--mui-palette-text-secondary);
  }

  .section-description a {
    color: var(--mui-palette-secondary-main);
  }

  .header-tab {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 6px;
    overflow: visible;
    padding: 0 0.5px;
    cursor: pointer;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
