@use '../../../globals.scss';

.transfers-menu {
  &.enter,
  &.enter-done {
    transform: unset;
  }

  h3 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
  }

  .course-search-select {
    margin-bottom: 12px;

    .MuiOutlinedInput-root {
      border-radius: 4px;
      background-color: var(--mui-palette-background-paper);

      &:hover .MuiOutlinedInput-notchedOutline {
        border-color: var(--mui-palette-tertiary-main);
      }

      &.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: var(--mui-palette-primary-main);
        border-width: 1px;
      }

      &:not(.Mui-focused) .MuiOutlinedInput-notchedOutline {
        border-color: var(--mui-palette-text-secondary);
      }
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: var(--mui-palette-text-secondary);
    }

    .MuiAutocomplete-endAdornment {
      display: none;
    }
  }
}

.toggle-transfers-button {
  @include globals.bottom-button();
}
