@use '../../../globals.scss';

.transfers-menu {
  &.enter,
  &.enter-done {
    transform: unset;
  }

  h3 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
  }

  .ppc-combobox__menu {
    font-size: 14px;
  }
}

.toggle-transfers-button {
  @include globals.bottom-button();
}
