@use '../../../globals.scss';

.transfers-menu {
  // transform: translateY(100%);
  // transition: transform 0.3s;
  &.enter,
  &.enter-done {
    transform: unset;
  }

  h3 {
    margin-bottom: 0;
    font-weight: 600;
  }

  .ppc-combobox__menu {
    font-size: 14px;
  }
}

.toggle-transfers-button {
  @include globals.bottom-button();

  // width: globals.$roadmap-sidebar-width;
  // &.mobile {
  //   width: 100%;
  // }
}
