@use '../../../globals.scss';

.transfers-menu {
  &.enter,
  &.enter-done {
    transform: unset;
  }

  h3 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
  }

  .course-search-select {
    margin-bottom: 12px;

    .MuiAutocomplete-endAdornment {
      display: none;
    }
  }
}

.toggle-transfers-button {
  @include globals.bottom-button();
}
