@use '../../../globals.scss';
@use '../sidebar/SearchSidebar.scss';

.transfers-menu-inner {
  height: 0;
  flex-grow: 1;
  width: 100%;

  padding: 16px 20px;
  overflow: scroll;
}

.transfers-menu {
  position: absolute;
  left: 0;
  bottom: 0;

  overflow: hidden;
  padding: 0px;

  &.mobile {
    @include globals.bottom-overlay(400);
    padding-bottom: 0px;
  }

  transform: translateY(100%);
  transition: transform 0.3s;
  &.enter,
  &.enter-done {
    transform: unset;
  }

  h3 {
    margin-bottom: 0;
    font-weight: 600;
  }

  .ppc-combobox__menu {
    font-size: 14px;
  }

  display: flex;
  flex-direction: column;
}

.toggle-transfers-button {
  @include globals.bottom-button();

  position: unset;
  width: globals.$roadmap-sidebar-width;
  &.mobile {
    width: 100%;
  }
}
