@use '../../globals';

#peterportal-logo {
  width: auto;
  height: 36px;
  @media (max-width: globals.$mobile-cutoff) {
    height: 32px;
  }
}

[data-theme='dark'] {
  .navbar {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
  }
}

.school-term {
  margin-bottom: 0;
  margin-right: 0.75em;
}

.navbar {
  position: sticky;
  z-index: 300;
  width: 100%;
  height: 72px;
  background-color: var(--mui-palette-overlay-overlay1);
  padding: 8px 16px;
  display: flex;
  top: 0;
  font-size: 14px;

  box-shadow: 0px 4px 24px rgba(196, 198, 209, 0.24);

  .navbar-nav {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .navbar-left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .navbar-menu-btn {
      margin: -4px;
    }

    .navbar-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
    }

    @media only screen and (max-width: globals.$mobile-cutoff) {
      .beta {
        display: none;
      }

      .navbar-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      .school-term {
        font-size: 12px;
        max-width: 30vw;
      }
    }
  }

  .navbar-menu-icon {
    font-size: 32px;
  }
}

.fullscreen-search-row {
  width: 100%;
  margin-left: 8px;
}

.feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
