@use '../../globals';

#peterportal-logo {
  width: auto;
  height: 32px;
  @media (min-width: globals.$mobile-cutoff) {
    height: 36px;
  }
}

[data-theme='dark'] {
  .beta-popup .button {
    background-color: var(--overlay3);
  }

  .beta-popup .button:hover,
  .beta-popup .button:focus {
    background-color: #cacbcd;
  }

  .navbar {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
  }
}

.school-term {
  margin-bottom: 0;
  margin-right: 0.75em;
}

.navbar {
  position: sticky;
  z-index: 300;
  width: 100%;
  height: 72px;
  background-color: var(--overlay1);
  padding: 8px 16px;
  display: flex;
  top: 0;
  font-size: 14px;

  box-shadow: 0px 4px 24px rgba(196, 198, 209, 0.24);

  .navbar-nav {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .navbar-left {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .navbar-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background: none;
      padding: 4px;
    }

    .navbar-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
    }

    @media only screen and (max-width: globals.$mobile-cutoff) {
      .beta {
        display: none;
      }

      .navbar-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }

      .school-term {
        font-size: 12px;
        max-width: 30vw;
      }
    }
  }

  .navbar-menu-icon {
    font-size: 32px;
  }
}

.feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.beta-popup {
  font-size: 16px;
  padding: 8px 12px;
  line-height: 1.1;
  h4 {
    font-weight: bold;
    margin-bottom: 12px;
  }
}

#beta-tag {
  background-color: var(--blue-primary);
  display: inline-flex;
  align-items: center;
  color: white;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;

  > * {
    padding: 4px 12px;
  }

  .shade {
    background-color: #0005;
    padding-inline: 10px;
    height: 100%;
  }
}
