.navbar-profile {
  height: 70%;
}

.navbar-profile-pic {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  white-space: normal;
  color: inherit !important; // overwrite next.js default color for alt text

  &:hover {
    cursor: pointer;
  }
}

.profile-button {
  background: none;
  border: none;
  height: 100%;
}

[data-theme='dark'] {
  #profile-popover {
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.24);
  }
}

.ppc-popover-paper {
  font-size: 1rem;
  background-color: var(--overlay1) !important;
  border-radius: var(--border-radius);
  border: 1px solid var(--background);
  width: 310px;
  max-width: 100vw;
  padding: 16px 20px;
}

.ppc-popover-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: transparent !important;
}

.profile-popover__header {
  display: flex;
  height: 50px;
  margin-bottom: 0.75em;

  h1 {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    padding-bottom: 8px;
    margin: 0;
  }

  h2 {
    font-size: 14px;
    color: var(--text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 4px;
    margin: 0;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
  }

  img {
    margin-right: 12px;
    height: 50px;
    border-radius: 100%;
  }
}

.profile-popover__theme-section {
  .MuiDivider-root {
    margin: 4px 0 0;
  }

  h4 {
    font-size: 20px;
  }
}

.profile-popover__links {
  .MuiListItem-root {
    padding: 0;
  }

  .MuiListItemButton-root {
    padding: 10px;
    border-radius: var(--border-radius);

    &:hover {
      text-decoration: underline;
    }
  }

  .MuiListItemIcon-root {
    min-width: 32px;
  }
}

.profile-popover__link.active {
  color: var(--blue-primary);

  .MuiListItemIcon-root {
    color: var(--blue-primary);
  }
}

.login-button {
  color: var(--text);
}
