.navbar-profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  white-space: normal;
  color: inherit !important; // overwrite next.js default color for alt text

  &:hover {
    cursor: pointer;
  }
}

.profile-button {
  display: flex;
  align-items: center;
  height: 40px;
  width: 72px;
  gap: 4px;
  padding: 4px 8px 4px 4px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.profile-popover {
  .MuiPaper-root {
    border-radius: var(--border-radius);
    border: 1px solid var(--background);
    width: 310px;
    max-width: 100vw;
    padding: 16px 20px;
  }

  .profile-popover-header {
    display: flex;
    margin-bottom: 16px;

    h1 {
      font-size: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      padding-bottom: 8px;
      margin: 0;
    }

    h2 {
      font-size: 14px;
      color: var(--text-secondary);
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 4px;
      margin: 0;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      white-space: nowrap;
      overflow: hidden;
    }

    img {
      margin-right: 12px;
      height: 50px;
      border-radius: 100%;
    }
  }

  .profile-popover-theme-selector {
    .MuiDivider-root {
      margin: 4px 0 0;
    }

    h4 {
      font-size: 20px;
    }

    .tab-selector {
      background-color: var(--overlay2);
    }
  }

  .profile-popover-links {
    padding-bottom: 0;

    .MuiListItem-root {
      padding: 0;
    }

    .MuiListItemButton-root {
      padding-inline: 10px;
      border-radius: var(--border-radius);
    }

    .MuiListItemIcon-root {
      min-width: 32px;
    }
  }

  .profile-popover-link.active {
    color: var(--blue-primary);

    .MuiListItemIcon-root {
      color: var(--blue-primary);
    }
  }
}

.login-button {
  color: var(--text);
}
