.navbar-profile {
  height: 70%;
}

.navbar-profile-pic {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  white-space: normal;
  color: inherit !important; // overwrite next.js default color for alt text

  &:hover {
    cursor: pointer;
  }
}

.profile-button {
  background: none;
  border: none;
  height: 100%;
}

#profile-popover {
  font-size: 1rem;
  background-color: var(--overlay1);
  border-radius: var(--border-radius);
  border: 1px solid var(--background);
  width: 310px;
  max-width: 100vw;
  box-shadow: 0 0 12px rgba(196, 198, 209, 0.24);

  .arrow::before {
    border-bottom-color: var(--background);
  }

  h1 {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    padding-bottom: 8px;
    margin: 0;
  }

  h2 {
    font-size: 14px;
    color: var(--text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 4px;
    margin: 0;
  }
}
[data-theme='dark'] {
  #profile-popover {
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.24);
  }
}

.profile-popover__header {
  display: flex;
  height: 50px;
  margin-bottom: 0.75em;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
  }

  img {
    margin-right: 12px;
    height: 50px;
    border-radius: 100%;
  }
}

.profile-popover__theme-section {
  h4 {
    font-size: 22px;
    font-weight: bold;
  }

  hr {
    height: 1px;
    border: none;
    background-color: #8886;
    margin: 4px 0;
  }
}

.profile-popover__links {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }

  li div {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  a {
    color: var(--text);
  }
}

.profile-popover__link {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--overlay2);
  }
}

.exit-icon {
  font-size: 20px;
}
