.user-reviews-container {
    padding: 2rem;
    background-color: white;
    border-radius: var(--border-radius);
}

.user-reviews {
    background-color: white;
    border-radius: var(--border-radius);
    margin-bottom: 3vh;

    .user-reviews-footer {
        flex-direction: row;
        width: 100%;
        align-items: flex-end;
    }
}


.delete-modal
{ 
    display: block;
    position: initial;
    background-color: black;
    align-items: center;
}

.delete-confirmation-buttons {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
  
  .delete-button,
  .cancel-button {
    flex: 1;
  }