.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 20px;
  padding: 64px 32px 32px;
  text-align: center;

  img {
    width: 400px;
    max-width: 100%;
    height: auto;
  }
}
