@import '../../globals';

.changelog-modal {
  .modal-content {
    border: none;
    background-color: var(--overlay2);
    padding: 4px 8px 8px;
  }

  .modal-header {
    align-items: center;
    border-bottom: none;
    padding-bottom: 0;
  }

  h2 {
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: 600;
  }

  .modal-body {
    font-size: 1.2rem;
    margin: 0;
  }

  .modal-img {
    margin: 1rem;
    max-width: 70vw;
    max-height: 50vh;
    object-fit: contain;
  }

  button.close {
    font-size: 32px;
  }

  @media only screen and (max-width: $mobile-cutoff) {
    .modal-img {
      max-width: 90vw;
      max-height: 50vh;
    }
  }
}
