.transcript-form {
  ol {
    margin-top: 8px;
  }

  // .transcript-upload {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   gap: 8px;
  // }
  p {
    gap: 10px;
  }
}
