.bookmark-button {
  margin: -2px 0 -4px -4px;
  &.MuiButtonBase-root {
    width: 32px !important;
    height: 32px !important;
  }
}

.course-info-warning {
  .warning-primary {
    color: var(--red-primary);

    .warning-primary-icon {
      font-size: 20px;
      margin-bottom: 4px;
      margin-right: 4px;
    }
  }

  .warning-hint-italics {
    padding-top: 6px;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: var(--mid-gray);
    margin-bottom: 10px;
  }
}
