.course-info-warning {
  .warning-primary {
    color: var(--mui-palette-error-main);

    .warning-primary-icon {
      font-size: 20px;
      margin-bottom: 4px;
      margin-right: 4px;
    }
  }

  .warning-hint-italics {
    padding-top: 6px;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: var(--mui-palette-misc-midGray);
    margin-bottom: 10px;
  }
}
