.verify-container {
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  border-radius: var(--border-radius);
}

.verification-buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 0px 8px;
}
