.verify-container {
  padding: 2rem;
  background-color: white;
  border-radius: var(--border-radius);
}

.verify {
  background-color: white;
  border-radius: var(--border-radius);
  margin-bottom: 3vh;

  .verify-footer {
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
  }
}
