.hit-item {
  border-radius: var(--mui-shape-borderRadiusLg);
  background-color: var(--mui-palette-overlay-overlay1);
  padding: 20px 24px;
  margin-bottom: 2vh;
  cursor: pointer;

  a {
    color: var(--mui-palette-text-primary);
  }

  .hit-name {
    font-size: 22px;
    margin-block: 0 4px;
    font-weight: bold;
    line-height: 1.25;
  }
  .hit-tooltip {
    margin-left: auto;
  }
  .hit-subtitle {
    font-size: 18px;
    margin-block: 0 2px;
    font-weight: bold;
  }

  .hit-badges {
    display: flex;
    gap: 8px;
  }
}

.course-hit {
  .course-hit-id > div {
    display: flex;
    gap: 8px;
  }

  .description {
    margin-block: 8px 16px;
  }
}

.professor-hit {
  display: flex;
  flex-direction: column;
  gap: 14px;

  .name-container {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .hit-name {
    margin-block: -2px 2px;
  }

  .name-icon {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 50px;
    background: var(--mui-palette-primary-main);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
}

.hit-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}
