.hit-item {
  border-radius: var(--mui-shape-borderRadiusLg);
  background-color: var(--mui-palette-overlay-overlay1);
  padding: 12px 16px;
  margin-bottom: 2vh;
  cursor: pointer;
  font-size: 14px;

  a {
    color: var(--mui-palette-text-primary);
  }

  .course-synopsis {
    margin: 0px 0px 4px 0px;
  }

  .hit-name {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.25;
  }

  .hit-previous-terms {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
  }

  .hit-badges {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }
}

.course-hit {
  .course-hit-id > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  .description {
    margin-block: 8px 16px;
  }
}

.professor-hit {
  display: flex;
  flex-direction: column;
  line-height: 1.25;

  p {
    margin: 0;
  }

  .name-container {
    display: flex;
    align-items: center;
  }

  .hit-name {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .hit-subtitle {
    margin-bottom: 8px;
  }
}
