@use '../../globals.scss';

.search-module {
  z-index: 100;

  button {
    width: 32px;
    height: 32px;
  }

  .search-bar {
    background-color: var(--mui-palette-background-paper);
    font-size: 16px;
    margin-bottom: 4px;
  }

  .input-wrapper {
    padding-right: 6px;
  }
}
