@use '../../../globals.scss';

.roadmap-sidebar {
  background-color: var(--overlay1);
  height: 100%;
  overflow: auto;
  width: globals.$roadmap-sidebar-width;
  flex-shrink: 0;
  padding-top: 60px;
  position: relative;

  .sidebar-tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
  }

  .sidebar-tabs button {
    min-height: 0;
    height: 60px;
  }

  .sidebar-content {
    height: 100%;
    overflow: auto;
    padding: 16px 20px;
  }
}
