@use '../../../globals.scss';
@use 'sass:color';

@mixin highlight-group() {
  background: var(--overlay2);
  margin: 4px -2px 8px;
  padding: 4px 6px;
  border-radius: 4px;
}

.program-requirements {
  display: flex;
  flex-direction: column;
  gap: 16px;

  p:last-child {
    margin-bottom: 4px;
  }

  .requirement-label {
    margin-bottom: 4px;
  }
}

.group-requirement {
  border: 2px solid var(--blue-secondary);
  border-radius: 8px;
  padding: 12px;
  position: relative;

  .group-header {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--blue-primary);
    text-align: left;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    width: 100%;
  }

  .group-header svg.bi {
    flex-shrink: 0;
  }

  .course-requirement {
    margin-top: 8px;
  }

  > .course-requirement > p {
    margin-block: 4px;
  }
  > .group-header > p {
    margin-bottom: 12px;
  }

  &.completed {
    border-color: var(--green-secondary);

    > .group-header {
      color: var(--green-primary);
      text-decoration: line-through;
      text-decoration-thickness: 2px;
    }

    :is(.group-requirement, .marker-requirement, .course-requirement):not(.completed) {
      border-color: var(--mid-gray);
      color: var(--mid-gray);
      .group-header {
        color: var(--mid-gray);
      }
    }

    :not(.completed) > .group-courses {
      opacity: 0.8;
    }
  }

  .course-requirement.completed {
    color: var(--green-primary);
  }

  > .group-requirement:not(:last-child),
  .course-requirement:not(:last-child) {
    margin-bottom: 16px;
  }

  .expand-requirements {
    margin-block: -8px;
    margin-right: -4px;
    padding: 4px;
    color: inherit;

    .MuiSvgIcon-root {
      color: inherit;
    }
  }

  .MuiCollapse-root {
    padding-inline: 2px;
    margin-inline: -2px;
  }
  .MuiCollapse-wrapperInner > :first-child {
    padding-top: 12px;
  }
}

.group-courses {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 8px;
}

.marker-requirement {
  position: relative;

  @include highlight-group();

  > label {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    margin-block: 2px;
  }

  input[type='checkbox'] {
    position: relative;
    border: 1px solid #8886;
    margin: 0;
    flex-shrink: 0;
  }

  &.completed {
    color: var(--green-primary);
  }

  ~ .group-requirement {
    margin-inline: -2px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  ~ .course-requirement {
    @include highlight-group();
    .requirement-label {
      margin-block: 2px 6px;
    }
  }
}

.program-course-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 2px;
  background-color: var(--blue-primary);
  color: white;
  font-weight: bold;
  font-size: 13px;
  border-radius: 4px;
  cursor: grab;
  position: relative;

  a {
    color: inherit;
  }

  &.completed {
    background-color: var(--overlay2);
    outline: 1.5px solid var(--text-secondary);
    outline-offset: -1.5px;
    color: var(--text-secondary);
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    opacity: 0.75;
  }
}

.source-overlay {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(25%, -25%);
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--text-secondary);
  color: var(--overlay2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  cursor: help;

  .MuiSvgIcon-root {
    font-size: 16px;
  }
}

[data-theme='dark'] {
  .program-course-tile.completed {
    background-color: #343a40;
  }
}

.program-course-tile.mobile {
  position: relative;
  cursor: pointer;

  a {
    pointer-events: none;
  }

  .spinner {
    position: absolute;
    scale: 0.67;
    color: white;
  }

  &.loading {
    color: #fff6;
    background-color: var(--blue-secondary);
  }
}

.search-sidebar .ppc-combobox {
  margin-bottom: 12px;

  .ppc-combobox__menu {
    margin-top: 0;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
  }
}
