@use '../../../globals';

.course-catalog {
  .major-select,
  .minor-select {
    margin-bottom: 12px;

    .MuiOutlinedInput-root {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        right: 32px;
        top: 8px;
        bottom: 8px;
        width: 1px;
        background-color: var(--mui-palette-divider);
        pointer-events: none;
        z-index: 1;
      }
    }
  }

  .filter-group {
    margin-top: 8px;
  }

  .loading-spinner {
    margin-top: 24px;
  }
}
