.major-section {
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  .specialization-select {
    margin-bottom: 12px;
  }

  .header-tab {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 6px;
    overflow: visible;
    padding: 0 0.5px;
    cursor: pointer;
  }

  h4 {
    position: relative;
    top: -1px;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    margin-bottom: 0;
  }

  h5 {
    position: relative;
    top: -1px;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 12;
  }

  .program-requirements {
    gap: 12px;
  }

  .expand-requirements {
    padding: 6px;
  }

  .MuiCollapse-wrapperInner > :first-child {
    padding-top: 8px;
  }
}

.catalog-year-tooltip {
  &#{&} {
    font-size: 0.75rem;
    border-radius: 8px;
    padding: 8px;
    max-width: 230px;
    text-align: left;
    margin-top: 8px;
  }
}

.catalog-year-warning {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -6px;
  margin-bottom: 8px;

  .warning-icon {
    color: var(--mui-palette-warning-main);
    font-size: 1.4rem;
  }

  .catalog-year-warning-text {
    color: var(--mui-palette-warning-main);
    font-size: 0.85rem;
    margin: 0;
  }
}
