@use '../../globals';

button.scroll-to-top-button {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  z-index: 50;
}

@media (max-width: globals.$mobile-cutoff) {
  button.scroll-to-top-button {
    position: fixed;
    bottom: 4rem;
  }
}
