.review-form {
  background-color: var(--peterportal-gray-blue);
  border-radius: var(--border-radius);
  padding: 2rem;
  display: flex;
  grid-gap: 35px;
  width: fit-content;
  height: fit-content;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  h5 {
    font-weight: normal;
  }

  .form-control {
    width: auto;
  }

  .char-limit {
    grid-column: auto / span 3;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .chars {
      margin-left: auto;
    }
  }
  textarea {
    border-radius: var(--border-radius);
    border: 2px solid #EAEBF2;
    padding: 1rem;
    resize: none;
    width: 100%;
    display: block;
  }

  .badge-pill {
    cursor: pointer;
  }
}
.review-form-grade {
  margin-left: 1vw;
}
.review-form-section {
  background-color: #ffffff;
  border-radius: var(--border-radius);
  padding: 1rem;
}
.review-form-row {
  display: flex;
}
.review-form-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-form-ratings {
  width: 75vw;
}
.review-form-switches {
  display: flex;
  justify-content: space-between;
}
.rating-form-btn {
  border: none;
  outline: none;
  display: block;
  background-color: var(--peterportal-primary-color-1);
  color: white;
  padding: 15px 25px;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 30px;
  margin: auto auto 25px auto;
  cursor: pointer;
}
.review-form-submit {
  display: flex;
  justify-content: space-between;
}
.submitted-form {
  text-align: center;
  width: 100%;
  margin-top: 15%;
  i {
    color: var(--peterportal-secondary-green);
  }
  h1 {
    margin: 15px 0;
  }
  p {
    font-size: 1.25rem;
  }
}
.review-form-close {
  position: absolute;
  right: 2vh;
  top: 2vh;
}

@media only screen and (max-width: 800px) {
  .review-form {
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .review-form-taken {
    margin-bottom: 3vh;
  }

  .review-form-submit {
    flex-direction: column;

    button {
      margin-top: 1vh;
    }
  }
}

@media only screen and (max-width: 1700px) {
  .review-form-row {
    flex-direction: column;
  }

  .review-form-grade {
    margin-left: 0;
  }
}