.review-form-dialog {
  .MuiFormLabel-root {
    color: var(--mui-palette-text-primary);

    &.Mui-focused {
      color: var(--mui-palette-text-primary);
    }

    .MuiFormLabel-asterisk {
      color: var(--mui-palette-error-main);
    }
  }

  .year-quarter-row,
  .grade-difficulty-row,
  .course-professor-grade-row {
    display: flex;
    gap: 16px;

    > .MuiFormControl-root {
      flex: 1;
    }
  }

  .MuiFormControlLabel-root {
    margin-right: auto;
    align-items: flex-start;

    .MuiSwitch-root {
      margin-left: -6px;
    }

    .MuiFormControlLabel-label {
      font-size: 12px;
    }
  }
}
