@use '../../globals';

.review-form-modal {
  .modal-dialog {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: auto;
  }

  .modal-header {
    font-weight: bold;
  }

  .required::after {
    content: ' *';
    color: red;
    font-weight: normal;
    font-size: 14px;
  }

  .editing-notice {
    margin-top: -16px;
    font-size: 12px;
    font-style: italic;
  }

  .form-check-input {
    border: 1px solid rgba(136, 136, 136, 0.4);
  }

  .year-quarter-row,
  .grade-difficulty-row {
    display: flex;
    gap: 16px;

    > .form-group {
      flex: 1;
    }
  }

  .ppc-combobox {
    .ppc-combobox__menu {
      margin-top: 0;
      border-radius: 0 0 8px 8px;
      overflow: hidden;
    }
    .ppc-combobox__menu-list {
      padding: 0;
    }
  }

  .additional-details {
    textarea {
      height: 90px;
    }
  }

  .anonymous-checkbox {
    margin-top: 16px;
  }
}
