.review-form-dialog {
  .MuiDialog-paper {
    width: 500px;
  }
  .MuiFormLabel-root {
    color: var(--mui-palette-text-primary);

    &.Mui-focused {
      color: var(--mui-palette-text-primary);
    }

    .MuiFormLabel-asterisk {
      color: var(--mui-palette-error-main);
    }
  }

  .year-quarter-row,
  .grade-difficulty-row,
  .course-professor-grade-row {
    display: flex;
    gap: 16px;

    > .MuiFormControl-root {
      flex: 1;
    }
  }

  .rating-sliders {
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid oklch(from var(--mui-palette-common-onBackground) l c h / 0.23);

    .quality-label {
      // @todo: refactor into same style as below?
      display: flex;
      align-items: end;
      gap: 4px;
      margin-bottom: 8px;

      .MuiDialogContentText-root {
        font-size: 12px;
      }
    }

    .labeled-slider {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .slider-value-labels {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: var(--mui-palette-text-secondary);
      }

      .MuiSlider-markLabel {
        margin-top: -6px;
        font-size: 16px;
      }
    }
  }

  .quick-tags {
    .quick-tags-label {
      display: flex;
      align-items: end;
      gap: 4px;
      margin-bottom: 8px;

      .MuiDialogContentText-root {
        font-size: 12px;
      }
    }

    .quick-tags-select {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  .additional-details {
    .MuiFormHelperText-root {
      text-align: right;
    }
  }

  .MuiFormControlLabel-root {
    margin-right: auto;
    align-items: flex-start;

    .MuiSwitch-root {
      margin-left: -6px;
    }

    .MuiFormControlLabel-label {
      font-size: 12px;
    }
  }
}
