@use '../../globals.scss';

.mobile-popup {
  background-color: var(--overlay1);
  width: globals.$roadmap-sidebar-width;
  height: 100%;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: auto;
  border-radius: 8px 8px 0 0;

  @include globals.bottom-overlay(400);

  button.fixed {
    @include globals.bottom-button();
    z-index: 1;
  }
}
