@use '../../globals';

.search-popup-missing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  text-align: center;
  color: #9c9fac;
  font-size: 20px;

  img {
    width: 80%;
    height: auto;
  }
}

.search-popup {
  overflow-y: auto;
  width: 640px;
  max-width: 40vw;
  overflow: auto;
  @include globals.card-padding;
}

.mobile-search-dialog {
  .search-popup {
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    overflow-y: auto;
    @include globals.card-padding;
  }
}

.search-popup-header {
  margin-bottom: 3vh;
}

.search-popup-id {
  margin-bottom: 0.2rem;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}

.search-popup-title {
  margin: 0;
}

.search-popup-block {
  background-color: var(--overlay2);
  border-radius: var(--border-radius);
}

.search-popup-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-popup-info {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  width: 45%;
}

.search-popup-label {
  margin: 2vh 0 1vh 0;
}

.search-popup-carousel {
  background-color: var(--overlay2);
  height: 100%;
  margin: 0 1vw;
  padding: 2vh 1vw;

  p {
    font-weight: bold;
  }

  div {
    display: flex;
  }

  .search-popup-carousel-score {
    font-size: 2em;
  }

  .search-popup-carousel-max-score {
    margin-left: 0.5vw;
    display: flex;
    align-items: center;
    color: var(--mid-gray);
  }
}
.search-popup-professor-name {
  display: flex;
  flex-wrap: wrap;
}

.search-popup-professor-name > span {
  display: inline-block;
  margin-right: 0.3em;
}

.search-popup-professor-name > span.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

@media only screen and (max-width: 1300px) {
  .search-popup-infos {
    flex-direction: column;
  }

  .search-popup-info:first-child {
    margin-bottom: 3vh;
  }

  .search-popup-info {
    width: 90%;
  }

  .search-popup-id {
    flex-direction: column-reverse;

    a {
      margin-left: auto;
    }
  }
}
